{{response.title = "Add Study"}}

{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{response.subtitle = "import options and licensing"}}

{{### Add support scripts as in single-page editor?}}

{{extend 'layout.html'}}

<style type="text/css">
body {
    overflow-y: scroll;
}
</style>

<div class="row">
 <div class="span8 wireframe">
  <p>
    We may be able to import the study and tree data automatically. Select its
    current location, then choose an appropriate import method. These are listed
    in order of the required amount of curation, with the easiest methods first. 
  </p>

  <form id="import-from-locations" class="form-inline" style="padding-bottom: 24px;" action=".">
    <h3>Data location</h3>

    <!-- WAS import-option-TREEBASE -->
    <label for="import-from-TREEBASE" class="featured-label">
        <input type="radio" id="import-from-TREEBASE" name="import-from-location" value="IMPORT_FROM_TREEBASE" />
        The data exists in TreeBASE
    </label>
    <!-- WAS import-option-PUBLICATION_DOI -->
    <label for="import-from-ANOTHER_ARCHIVE" class="featured-label">
        <input type="radio" id="import-from-ANOTHER_ARCHIVE" name="import-from-location" value="IMPORT_FROM_ANOTHER_ARCHIVE" />
        The data exists in another data archive
    </label>
    <!-- WAS import-option-NEXML -->
    <label for="import-from-UPLOAD" class="featured-label">
        <input type="radio" id="import-from-UPLOAD" name="import-from-location" value="IMPORT_FROM_UPLOAD" />
        The data only exists on my local machine and I will upload it
    </label>
    <div id="import-method-UPLOAD_WARNING" class="featured-label-child" 
         style="padding-top: 0px; padding-bottom: 0px;">
        <em class="suggestion-prompt">Please choose a <strong>data licensing</strong> option below.</em>
    </div>

  <div style="margin-top: 14px;">
    <div id="import-method-TREEBASE_ID" class="featured-label-child">
        <p class="featured-label-description">
            <strong>Importing from TreeBASE</strong> is fast and requires only minimal curation post-import. 
        </p>
        <input class="span4" type="text" name="treebase-id" placeholder="Enter the TreeBASE ID for this study" 
               style="margin-bottom: 12px;"></input>
        <button class="btn btn-info" onclick="return false;"
               style="margin-bottom: 12px;">Import from TreeBASE</button>
    </div>
    <div id="import-method-NEXML" class="featured-label-child">
        <p class="featured-label-description">
            <strong>Importing from NeXML</strong> is quick and also saves time in curation.
        </p>
        <input class="span4" style="margin-bottom: 12px;" type="text" name="nexml-fetch-url" placeholder="Enter a URL where we can fetch this NeXML"></input>
        {{
          # To add a proper upload-file widget, see #tree-import-form in views/study/edit.html 
          # and the supporting logic in static/js/study-editor.js
        }}
        <textarea class="span4" name="nexml-pasted-string" placeholder="...or paste the complete NeXML string here" rows="4" style="display: block; margin-bottom: 12px;"></textarea>
        <button class="btn btn-info" style="margin-bottom: 12px;">Import from NeXML</button>
    </div>
    <div id="import-method-PUBLICATION_DOI" class="featured-label-child">
        <p class="featured-label-description">
            <strong>Importing from a DOI</strong> allows us to retrieve some
            study metadata automatically, then you can upload your data files. 
            The DOI, or digital object identifier, is assigned by the publisher and
            usually looks like <span style="font-weight: bold;">10.123/4567</span>. 
        </p>
        <input class="span4" type="text" name="publication-DOI" placeholder="Enter the publication DOI" style="margin-bottom: 12px;"></input>
        <button class="btn btn-info" style="margin-bottom: 12px;">Import using publication DOI</button>
    </div>
    <div id="import-method-PUBLICATION_REFERENCE" class="featured-label-child">
        <p class="featured-label-description">
            <strong>Enter a reference string</strong> (complete or partial) to
            retrieve study metadata automatically, then you can upload your
            data files. 
        </p>
        <textarea class="span4" name="publication-reference" placeholder="Enter the reference string" rows="4" style="margin-bottom: 12px;"></textarea>
        <button class="btn btn-info" style="vertical-align: bottom; margin-bottom: 12px;">Import using reference string</button>
    </div>
    <div id="import-method-MANUAL_ENTRY" class="featured-label-child">
        <p class="featured-label-description">
            <strong>Entering all data manually</strong> is a last resort.
            This rarely needed for recently-published papers.
        </p>
        <button class="btn btn-info">Enter study data manually</button>
    </div>
  </div>

  </form>

  <form id="import-method-UPLOAD_LICENSE" class="form-inline" 
        style="padding-bottom: 24px;" action=".">
    <h3>Data licensing</h3>
    <p>
        Open Tree of Life requires that data underlying the tree be 
        <strong>publicly available</strong>. While we believe that this is generally
        true for scientific data, we'd prefer to mark each study's data with the
        <a href="http://creativecommons.org/about/cc0" target="_blank">Creative
        Commons Zero (CC0) waiver</a> to affirm that it's in the public domain.
    </p>

    <div>
        <label for="agreed-to-CC0" class="featured-label">
            <input type="radio" id="agreed-to-CC0" name="cc0-agreement" value="agreed-to-CC0"/>
             By choosing this option, I am agreeing to release this data under the Creative Commons Zero (CC0) waiver.
        </label>
        <label for="submit-without-CC0" class="featured-label">
            <input type="radio" id="submit-without-CC0" name="cc0-agreement" value="submit-without-CC0"/>
            I'm unable to secure the authors' permission for a CC0 waiver, but I would like to contribute this study anyway.
        </label>
    </div>
  </form>

 </div>
</div>

{{ if False: }}
<div class="row">
    <div class="span8 wireframe"><!-- not too wide... -->
       {main column}
    </div><!-- end of main col -->

    <div class="span4 wireframe">
        {sidebar}
    </div><!-- end of right col -->
</div><!-- /.row -->
{{ pass }}

<script type='text/javascript'>
    var authorName = '{{= auth.user and auth.user.name or 'ANONYMOUS' }}';
    var authorSafeID = '{{= auth.user and auth.user.username.encode('ascii', 'ignore') or 'ANONYMOUS' }}';
    var authorEmail = '{{= auth.user and auth.user.email or 'ANONYMOUS' }}';
    var authToken = '{{= auth.user and auth.user.github_auth_token or 'ANONYMOUS'}}';
    var API_create_study_POST_url = '{{=API_create_study_POST_url}}';
        // this can take a few possible POSTed arguments (DOI, or initial input)
</script>
<script src="{{=URL('static','js/curation-helpers.js')}}"></script>
<script src="{{=URL('static','js/study-creation.js')}}"></script>
