{{response.title = "Add Study"}}

{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{response.subtitle = "import options and licensing"}}

{{### Add support scripts as in single-page editor?}}

{{extend 'layout.html'}}

<style type="text/css">
body {
    overflow-y: scroll;
}
</style>

<div class="row">
 <div class="span8 wireframe">
  <form id="import-from-locations" class="form-inline" style="padding: 12px 0;" action=".">

    <!-- WAS import-option-TREEBASE -->
    <label for="import-from-TREEBASE" class="featured-label">
        <input type="radio" id="import-from-TREEBASE" name="import-from-location" value="IMPORT_FROM_TREEBASE" />
        Data for this study exists in TreeBASE
    </label>
    <div id="import-method-TREEBASE_ID" class="featured-label-child">
        <input class="span4" type="text" name="treebase-id" placeholder="Enter its TreeBASE ID" 
               style="margin-bottom: 12px;"></input>
    </div>

    <!-- WAS import-option-NEXML -->
    <label for="import-from-UPLOAD" class="featured-label">
        <input type="radio" id="import-from-UPLOAD" name="import-from-location" value="IMPORT_FROM_UPLOAD" />
        I will upload tree data from my computer
    </label>
    <div id="import-method-PUBLICATION_DOI" class="featured-label-child">
        <h4>Publication information</h4>
        <input class="span4" type="text" id="publication-DOI" name="publication-DOI" placeholder="DOI (preferred) or permanent URL for study" style="margin-bottom: 12px;"></input>
        <div id="duplicate-DOI-warning" style="display: none;">
            <p class="static-form-value interesting-value">
            There are already studies in Open Tree database with this DOI.
            Click the links below to see each one in a new browser window. 
            </p>
            <ul id="duplicate-study-links" class="static-form-value interesting-value">
            </ul>
        </div>

        <h4>License information</h4>
        <label for="apply-new-CC0-waiver" class="featured-label" style="margin-top: 0px;">
            <input type="radio" id="apply-new-CC0-waiver" name="data-license" value="apply-new-CC0-waiver"/>
             I am an author, or can act on behalf of the authors, to apply a 
             <a href="https://creativecommons.org/choose/zero/" target="_blank">CC0 waiver</a> 
             to these data
        </label>
            <div id="applying-cc0-details" class="featured-label-child" Xstyle="display: none;">
                <label for="agreed-to-CC0" class="featured-label" style="margin-top: 0px; padding-left: 20px; text-indent: -20px; width: 60%;">
                    <input type="checkbox" id="agreed-to-CC0" name="cc0_agreement" style="width: 20px;"/>By
                    clicking this checkbox, I hereby release these data under the terms of the 
                    <a href="https://creativecommons.org/choose/zero/" target="_blank">Creative Commons Zero (CC0) waiver</a>.
                </label>
            </div>

        <label for="study-data-has-existing-license" class="featured-label">
            <input type="radio" id="study-data-has-existing-license" name="data-license" 
                   value="study-data-has-existing-license"/>
             These data already have an applied waiver or license
        </label>
            <div id="alternate-license-details" class="featured-label-child" style="display: none;">
                <select id="alternate-license" name="alternate-license" 
                        style="width: auto; margin-bottom: 12px;">
                    <option value="">Select the applicable waiver or license</option>
                    <option value="CC-0">CC0</option>
                    <option value="CC-BY-2.0">CC-BY 2.0</option>
                    <option value="CC-BY-2.5">CC-BY 2.5</option>
                    <option value="CC-BY-3.0">CC-BY 3.0</option>
                    <option value="OTHER">Other</option>
                </select>
                <div id="other-license-info">
                    <input class="span3" type="text" name="data-license-name" 
                           placeholder="Enter the name of this license"></input>
                    <input class="span3" type="text" name="data-license-url" 
                           placeholder="Enter the preferred URL for this license"></input>
                </div>
            </div>

        <label for="submit-without-CC0" class="featured-label">
            <input type="radio" id="submit-without-CC0" name="data-license" value="submit-without-CC0"/>
            These data have no applied waiver or license, and I have no authority to apply a waiver
        </label>
    </div>

    <button id="continue-button" class="btn btn-info pull-right" 
            style="margin-bottom: 12px;">Continue</button>
  </form>

 </div>
</div>

{{ if False: }}
<div class="row">
    <div class="span8 wireframe"><!-- not too wide... -->
       {main column}
    </div><!-- end of main col -->

    <div class="span4 wireframe">
        {sidebar}
    </div><!-- end of right col -->
</div><!-- /.row -->
{{ pass }}

<script type='text/javascript'>
    var authorName = '{{= auth.user and auth.user.name or 'ANONYMOUS' }}';
    var authorSafeID = '{{= auth.user and auth.user.username.encode('ascii', 'ignore') or 'ANONYMOUS' }}';
    var authorEmail = '{{= auth.user and auth.user.email or 'ANONYMOUS' }}';
    var authToken = '{{= auth.user and auth.user.github_auth_token or 'ANONYMOUS'}}';
    var API_create_study_POST_url = '{{=API_create_study_POST_url}}';
        // this can take a few possible POSTed arguments (DOI, or initial input)
    var singlePropertySearchForStudies_url = "{{=singlePropertySearchForStudies_url}}";
</script>
<script src="{{=URL('static','js/curation-helpers.js')}}"></script>
<script src="{{=URL('static','js/study-creation.js')}}"></script>
