{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{response.title = "Edit Study"}}
{{response.subtitle = "loading study %s..." % request.args[0]}}

{{### Add support scripts for single-page editor 

# JSON support for older browsers (esp. IE7) 
response.files.append(URL('static','js/json2.js'))

# Knockout.js for binding JSON model to editing UI 
response.files.append(URL('static','js/knockout-2.3.0.js'))

# Knockout plugin for easy declarative mapping 
response.files.append(URL('static','js/knockout.mapping-2.4.1.js'))

# Knockout bindings for Twitter Bootstrap components
response.files.append(URL('static','js/knockout-bootstrap.min.js'))
}}

{{extend 'layout.html'}}

<style type="text/css">
</style>

<div class="row">
  <div class="tabbable tabs">
    <ul class="nav nav-tabs">
    <!-- Appears only during creation..? then replaced by status
      <li><a href="#">Import</a></li>
    -->
      <li><a href="#Status" data-toggle="tab">Status <span class="badge badge-important" style="display: none;">?</span></a></li>
      <li><a href="#Metadata" data-toggle="tab">Metadata <span class="badge badge-important" style="display: none;">?</span></a></li>
      <li><a href="#Trees" data-toggle="tab">Trees <span class="badge badge-important" style="display: none;">?</span></a></li>
      <li><a href="#Files" data-toggle="tab">Files <span class="badge badge-important" style="display: none;">?</span></a></li>
      <li><a href="#OTU-Mapping" data-toggle="tab">OTU Mapping <span class="badge badge-important" style="display: none;">?</span></a></li>
      <li><a href="#Annotations" data-toggle="tab">Annotations <span class="badge badge-important" style="display: none;">?</span></a></li>
      <li><a href="#Tools" data-toggle="tab">Tools <span class="badge badge-important" style="display: none;">?</span></a></li>
    </ul>

    <div class="span4 Xbtn-group" style="float: right; margin-top: -56px;">
          <button class="btn btn"
            onclick="if (validateFormData()) saveFormDataToStudyJSON(); return false;">Save Study</button>
          <button class="btn btn-link">Cancel</button>
          <button class="btn btn-danger pull-right"
            onclick="confirm('Are you sure you want to delete this study?'); return false;">Delete Study</button>
    </div>
  </div>
</div>
<div class="row">
    <div class="span8"><!-- not too wide... -->
       {{if 'message' in globals():}}
        <h4>{{=message}}</h4>
       {{pass}}

        <div class="tab-content">

            <div id="ajax-busy-bar" class="progress progress-striped active">
              <div class="bar" style="width: 100%;"></div>
            </div>

          <div class="tab-pane" id="Status">
            <ul class="suggestion-list"></ul>
            <div style="margin-bottom: 100px;">

                <img src="{{=URL('static','images/study-status-under-revision.png')}}" alt="Under Revision" />

                  <p>
                    <strong style="color: #c33;">There is an active hold on this study (details below).</strong>
                  </p>
                  <pre style="border: 1px solid #c33; color: #c33;">Validation suggests that the preferred tree's rooting is dubious. 
Please review and re-submit.</pre>

                  <p>
                    There are <a href="#">5 open issues</a> in this study's annotations.
                  </p>

            <form>
              <div class="control-group">
                <div class="controls">
                  <button class="btn btn-disabled" disabled="disabled">Submit study for synthesis</button>
                </div>
              </div>
            </form>
            </div>
          </div>

          <div class="tab-pane" id="Metadata">
            <ul class="suggestion-list"></ul>
            <form class="form-horizontal wider-fields">
              <div class="control-group">
                <label class="control-label" for="ot_studyPublicationReference">Publication reference</label>
                <div class="controls">
                  <textarea data-bind="value: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:studyPublicationReference'), valueUpdate: 'afterkeydown'" id="ot_studyPublicationReference" class="input-xlarge" style="height: 160px;" placeholder=""></textarea>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="ot_studyPublication">Publication</label>
                <div class="controls">
                  <input data-bind="value: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:studyPublication'), valueUpdate: 'afterkeydown'" type="text" id="ot_studyPublication" class="input-xlarge" placeholder="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="ot_studyYear">Study Year</label>
                <div class="controls">
                  <input data-bind="value: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:studyYear'), valueUpdate: 'afterkeydown'" type="text" id="ot_studyYear" class="input-mini" placeholder="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="ot_studyId">Study ID</label>
                <div class="controls">
                  <input data-bind="value: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:studyId'), valueUpdate: 'afterkeydown'" type="text" id="ot_studyId" class="input-small" placeholder="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="ot_focalClade">Focal clade</label>
                <div class="controls">
                  <input data-bind="value: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:focalClade'), valueUpdate: 'afterkeydown'" type="text" id="ot_focalClade" class="input-small" placeholder="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="ot_curatorName">Curator name</label>
                <div class="controls">
                  <input data-bind="value: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:curatorName'), valueUpdate: 'afterkeydown'" type="text" id="ot_curatorName" class="input-xlarge" placeholder="">
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox"> This study has no rooted trees. (This is not typical.)
                  </label>
                  <label class="checkbox">
                    <input type="checkbox"> This study should not contribute to synthesis.
                  </label>
                  <!--
                  <button type="submit" class="btn">Sign in</button>
                  -->
                </div>
              </div>

            </form>

          </div>

          <div class="tab-pane" id="Trees">
            <ul class="suggestion-list"></ul>
            <div style="margin-bottom: 100px;">
                <p><em>{A paginated list of trees in this study. Also possibly a single-tree import tool? Probably a modal tree view/editor (D3?).}</em></p>

                <div class="pagination pagination-centered pagination-small">
                  <ul>
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
                </div>

                <table class="table table-condensed">
                    <tr>
                        <th>Tree name (click to edit tree)</th>
                        <th>Type</th>
                        <th>OTUs mapped</th>
                        <th>Preferred</th>
                    </tr>
                    <tr>
                        <td><a href="#">Parsimony tree (urchins)</a></td>
                        <td>Parsimony</td>
                        <td>92/108</td>
                        <td><input type="checkbox" checked="checked" /></td>
                    </tr>
                    <tr>
                        <td><a href="#">Alternate weighting</a></td>
                        <td>Parsimony</td>
                        <td>23/45</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td><a href="#">Draft tree</a></td>
                        <td>Equally weighted</td>
                        <td>14/20</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                </table>
            </div>

          </div>

          <div class="tab-pane" id="Files">
            <ul class="suggestion-list"></ul>
            <div style="margin-bottom: 100px;">
                <p><em>{A paginated(?) list of files in this study. Also possibly an import tool? Bulk imports?}</em></p>

                <div class="pagination pagination-centered pagination-small">
                  <ul>
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li class="disabled"><a href="#">&raquo;</a></li>
                  </ul>
                </div>

                <table class="table table-condensed">
                    <tr>
                        <th>File name (click to see file details)</th>
                        <th>Type</th>
                        <th>Size</th>
                    </tr>
                    <tr>
                        <td><a href="#">Alignment data (urchins).xls</a></td>
                        <td>Microsoft Excel spreadsheet</td>
                        <td>241 KB</td>
                    </tr>
                </table>
            </div>

          </div>

          <div class="tab-pane" id="OTU-Mapping">
            <ul class="suggestion-list"></ul>
            <div style="margin-bottom: 100px;">
                <p><em>{A paginated(?) grid of OTUs (in preferred trees only?), their original names, and any mapping in effect. Also possibly some regex-helpers?}</em></p>

                <div class="pagination pagination-centered pagination-small">
                  <ul>
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
                </div>

                <table class="table table-condensed">
                    <tr>
                        <th>Original label</th>
                        <th>Taxon</th>
                    </tr>
                    <tr>
                        <td> Allenopithecus nigroviridis ANI 1 </td>
                        <td> Allenopithecus nigroviridis </td>
                    </tr>
                    <tr>
                        <td> Alouatta belzebul ABE 1 </td>
                        <td> Alouatta belzebul </td>
                    </tr>
                    <tr>
                        <td> Alouatta caraya ACA 3   </td>
                        <td> Alouatta caraya </td>
                    </tr>
                    <tr>
                        <td> Alouatta palliata APL 1 </td>
                        <td> Alouatta palliata </td>
                    </tr>
                    <tr>
                        <td> Alouatta sara ASA 1 </td>
                        <td> Alouatta sara </td>
                    </tr>
                    <tr>
                        <td> Aotus azarae AZA 1  </td>
                        <td> Aotus azarai </td>
                    </tr>
                </table>
            </div>

          </div>

          <div class="tab-pane" id="Annotations">
            <ul class="suggestion-list"></ul>
            <div style="margin-bottom: 100px;">
                <p><em>{A paginated list of notes in this study, most recent first. Add filters? Location links jump to each annotation in situ.}</em></p>

                <div class="pagination pagination-centered pagination-small">
                  <ul>
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
                </div>

                <table class="table table-condensed">
                  <thead>
                    <tr>
                        <th>Type</th>
                        <th>Location</th>
                        <th>Added by</th>
                        <th>Message(s)</th>
                    </tr>
                  </thead>
                  <tbody data-bind="foreach: { data: nexml.meta(), as: 'annotation' }">
                    <tr data-bind="if: annotation['@property']() == 'ot:annotation'">
                        <td data-bind="text: annotation.$, style: { color: annotation.isValid() ? '' : 'red' }"></td><!-- general description (annotation type) -->
                        <td><a href="#">Study</a></td><!-- TODO -->
                        <td data-bind="text: annotation.author.name"></td>
                        <td>
                            <ul style="list-style: none;" data-bind="foreach: annotation.messages()">
                                <li style="border-bottom: 1px solid #ccc; padding: 2px 0;">
                                <!-- data-bind="text: code" is SHOUTY_UPPERCASE -->
                                <span data-bind="text: comment"></span>
                                <!-- data-bind="text: data" can be object or function or ... -->
                                in <span data-bind="text: refersTo.top()"></span>
                                [<span data-bind="text: severity"></span>]
                            </ul>
                        </td>
                    </tr>
                  </tbody>
                  <!--
                        <td>Reply</td>
                        <td><a href="#">Message thread</a></td>
                        <td><a href="#">Charles Darwin</a></td>
                        <td style="font-style: italic;">Au contraire, mon ami. The condor properly belongs everywhere...</td>
                    <tr>
                        <td>Comment</td>
                        <td><a href="#">Charadriidae</a></td>
                        <td><a href="#">Jim Allman</a></td>
                        <td style="font-style: italic;">This is not the place for condors or butterflies in any case...</td>
                    </tr>
                    <tr>
                        <td>Question</td>
                        <td><a href="#">Additional Birds.xls</a></td>
                        <td><a href="#">Jonathan Rees</a></td>
                        <td style="font-style: italic;">Is there a reason for this data file? It doesn't seem to correspond...</td>
                    </tr>
                    <tr>
                        <td>Erratum</td>
                        <td><a href="#">Seabird tree</a></td>
                        <td><a href="#">Charles Darwin</a></td>
                        <td style="font-style: italic;">This tree is poorly rooted, in my opinion.</td>
                    </tr>
                    -->
                </table>

            </div>
          </div>

          <div class="tab-pane" id="Tools">
            <ul class="suggestion-list"></ul>
            <div style="margin-bottom: 100px;">
                <p><em>{A collection of available tools for this study, and other (ghosted) tools that could become available. Space carrots!}</em></p>
            </div>
          </div>

            <i><a href="#" onclick="if ($('#formatted-nexson').is(':visible')) { $('#formatted-nexson').hide() } else { $('#formatted-nexson').show() }; return false;">current nexml</a> (remapped for return to server)</i>
            <pre id="formatted-nexson" data-bind="text: ko.mapping.toJSON(nexml.meta)" style="color: #933; font-size: small; width: 90%; height: 500px; overflow: auto; display: none;">
            </pre>
            <div style="height: 2em;">&nbsp;</div>

        </div>

    </div><!-- end of main col -->

    <div class="span4">
      <div class="span4">
        <strong>Study quality</strong> <a id="quality-details-toggle" onclick="toggleQualityDetails(); return false;" href="#">(show details)</a>
        
        <div data-bind="css: studyQualityBarClass">
          <div class="bar" data-bind="style: { width: studyQualityPercentStyle }">
              <span data-bind="text: studyQualityPercent"></span>%
          </div>
        </div>

        <div id="study-quality-details" class="well" style="display: none; margin-top: -6px; padding: 11px 15px 0px;">
            <!-- details for score criteria will appear here -->
        </div>
      </div>
    </div><!-- end of right col -->

</div><!-- /.row -->

<script type='text/javascript'>
    var studyID = '{{= request.args[0] }}';
    var authorName = '{{= auth.user.name }}';
    var authorEmail = '{{= auth.user.email }}';
    var authToken = '{{= auth.user.github_auth_token }}';
    var API_create_study_POST_url = '{{= conf.get("apis", "API_create_study_POST_url") }}';
    var API_load_study_GET_url = '{{= conf.get("apis", "API_load_study_GET_url") }}';
    var API_update_study_PUT_url = '{{= conf.get("apis", "API_update_study_PUT_url") }}';
</script>
<script src="{{=URL('static','js/study-editor.js')}}"></script>
