{{# Pivot (in many places) based on whether the user is an editor (curator) or
# someone else looking at the study
viewOrEdit = auth.user and 'EDIT' or 'VIEW'

response.title = (viewOrEdit == 'EDIT') and "Edit Study" or "View Study"
}}

{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{response.subtitle = "loading study %s..." % request.args[0]}}

{{### Add support scripts for single-page editor 

# JSON support for older browsers (esp. IE7) 
response.files.append(URL('static','js/json2.js'))

# Knockout.js for binding JSON model to editing UI 
response.files.append(URL('static','js/knockout-2.3.0.js'))

# KO plugin for paginated lists
response.files.append(URL('static','js/knockout-paged-e4a5770702.js'))

# Knockout plugin for easy declarative mapping 
response.files.append(URL('static','js/knockout.mapping-2.4.1.js'))
### response.files.append(URL('static','js/knockout.mapping.SRC.js'))

# Knockout bindings for Twitter Bootstrap components
response.files.append(URL('static','js/knockout-bootstrap.min.js'))
}}

{{extend 'layout.html'}}

<a class="main-title-DOI" style="display: none; position: relative; top: -24px;" href="#" target="_blank">{DOI}</a>

<style type="text/css">
body {
    overflow-y: scroll;
}
</style>

<div class="row">
 <div class="span12">
  <div class="tabbable tabs">
    <ul class="nav nav-tabs">
    <!-- Appears only during creation..? then replaced by status
      <li><a href="#">Import</a></li>
    -->
      <li><a href="#Metadata" data-toggle="tab">Metadata <span class="badge badge-important" style="display: none;">?</span></a></li>
      <li><a href="#Trees" data-toggle="tab">Trees <span class="badge badge-important" style="display: none;">?</span></a></li>
      <li><a href="#Files" data-toggle="tab">Files <span class="badge badge-important" style="display: none;">?</span></a></li>
      <li><a href="#OTU-Mapping" data-toggle="tab">OTU Mapping <span class="badge badge-important" style="display: none;">?</span></a></li>
      <li><a href="#Annotations" data-toggle="tab">Annotations <span class="badge badge-important" style="display: none;">?</span></a></li>
      <li><a href="#Tools" data-toggle="tab">Tools <span class="badge badge-important" style="display: none;">?</span></a></li>
      <li><a href="#Status" data-toggle="tab">Status <span class="badge badge-important" style="display: none;">?</span></a></li>
    </ul>

    <div class="span4 Xbtn-group" style="float: right; margin-top: -56px;">
        {{ if viewOrEdit == 'EDIT': }}
          <button class="btn btn"
            onclick="if (validateFormData()) saveFormDataToStudyJSON(); return false;">Save Study</button>
          <button class="btn btn-link">Cancel</button>
          <button class="btn btn-danger pull-right"
            onclick="confirm('Are you sure you want to delete this study?'); return false;">Delete Study</button>
        {{ else: }} 
          <a class="btn btn" href="{{= URL(a='curator', c='default', f='index')}}">Return to study list</a>
          <button class="btn btn-info pull-right"
            onclick="confirm('Are you sure you want to edit this study?'); return false;">Login to Edit Study</button>
        {{ pass }}
    </div>
  </div>
 </div>
</div>
<div class="row">
    <div class="span12">
       {{if 'message' in globals():}}
        <h4>{{=message}}</h4>
       {{pass}}
        <div id="ajax-busy-bar" class="progress progress-striped active">
          <div class="bar" style="width: 100%;"></div>
        </div>
    </div>
</div><!-- /.row -->

<div class="row">
    <div class="tab-content">

          <div class="tab-pane" id="Metadata">
           <div class="span8"><!-- main column... -->
            <ul class="suggestion-list"></ul>
            <form class="form-horizontal wider-fields">
              <div class="control-group">
                <label class="control-label" for="ot_studyPublicationReference">Publication reference</label>
                <div class="controls">
                {{ if viewOrEdit == 'EDIT': }}
                  <textarea data-bind="value: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:studyPublicationReference'), valueUpdate: 'afterkeydown'" id="ot_studyPublicationReference" class="input-xlarge" style="height: 160px;" placeholder=""></textarea>
                {{ else: }}
                  <p class="static-form-value" data-bind="text: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:studyPublicationReference')"></p>
                {{ pass }}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="ot_studyPublication">Publication</label>
                <div class="controls">
                {{ if viewOrEdit == 'EDIT': }}
                  <input data-bind="value: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:studyPublication'), valueUpdate: 'afterkeydown'" type="text" id="ot_studyPublication" class="input-xlarge" placeholder="">
                {{ else: }}
                  <p class="static-form-value"><a target="_blank" data-bind="text: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:studyPublication'), attr: { href: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:studyPublication') }"></a></p>
                {{ pass }}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="ot_studyYear">Study Year</label>
                <div class="controls">
                {{ if viewOrEdit == 'EDIT': }}
                  <input data-bind="value: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:studyYear'), valueUpdate: 'afterkeydown'" type="text" id="ot_studyYear" class="input-mini" placeholder="">
                {{ else: }}
                  <p class="static-form-value" data-bind="text: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:studyYear')"></p>
                {{ pass }}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="ot_focalClade">Focal clade</label>
                <div class="controls">
                {{ if viewOrEdit == 'EDIT': }}
                  <input data-bind="value: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:focalClade'), valueUpdate: 'afterkeydown'" type="text" id="ot_focalClade" class="input-small" placeholder="">
                {{ else: }}
                  <p class="static-form-value" data-bind="text: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:focalClade')"></p>
                {{ pass }}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="ot_curatorName">Submitted by</label>
                <div class="controls">
                  <p class="static-form-value" data-bind="text: getMetaTagAccessorByAtProperty(nexml.meta(), 'ot:curatorName')"></p>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                {{ if viewOrEdit == 'EDIT': }}
                  <label class="checkbox">
                    <input type="checkbox"> This study has no rooted trees. (This is not typical.)
                  </label>
                {{ else: }}
                  <p class="static-form-value" data-bind="css: (true) ? 'interesting-value' : 'boring-value', 
                                                          text: (true) ? 'This study has no rooted trees. (This is not typical.)' : 'This study has rooted trees.'"></p>
                {{ pass }}
                {{ if viewOrEdit == 'EDIT': }}
                  <label class="checkbox">
                    <input type="checkbox"> This study should not contribute to synthesis.
                  </label>
                {{ else: }}
                  <p class="static-form-value" data-bind="css: (true) ? 'interesting-value' : 'boring-value', 
                                                          text: (true) ? 'This study should not contribute to synthesis. (This is not typical.)' : 'This study should contribute to synthesis.'"></p>
                {{ pass }}
                </div>
              </div>

            </form>

           </div><!-- end of main column... -->
           <div class="span4"><!-- right col -->
            <p>
            [TODO] Here's a general introduction to the editor? Possibly tools to import (overwrite?) data for this study.
            </p>
           </div><!-- end of right col -->
          </div><!-- /.tab-pane -->

          <div class="tab-pane" id="Trees">
           <div class="span8"><!-- main column -->
            <ul class="suggestion-list"></ul>
            <div style="margin-bottom: 100px;">
              <div class="navbar">
               <div class="navbar-inner">
                <form class="navbar-search pull-left">
                    <input type="text" class="search-query" placeholder="Filter by name or ingroup clade">
                </form>
               </div>
              </div>

                <table class="table table-condensed">
                  <thead>
                    <tr>
                      {{ if viewOrEdit == 'EDIT': }}
                        <th>Tree name (click to edit tree)</th>
                      {{ else: }}
                        <th>Tree name (click to view tree)</th>
                      {{ pass }}
                        <th>Type</th>
                        <th>Ingroup clade</th>
                        <th>OTUs mapped</th>
                        <th>Rooted?</th>
                        <th>Preferred</th>
                    </tr>
                  </thead>
                  <tbody data-bind="foreach: { data: nexml.trees.tree.pagedItems(), as: 'tree' }">
                    <tr data-bind="if: true">
                        <td><a href="#" data-bind="click: showTreeViewer, text: tree['@label'] || 'Untitled ('+ tree['@about']() +')'">?</a></td><!-- TODO: click to view/edit tree -->
                        <td data-bind="text: getMetaTagAccessorByAtProperty(tree.meta(), 'ot:curatedType') || 'Unspecified'">TYPE?</td>
                        <td data-bind="text: getInGroupCladeDescriptionForTree(tree)"></td>
                        <td data-bind="html: getMappedTallyForTree(tree)">?/?? (?%)</td>
                        <td data-bind="html: getRootedDescriptionForTree(tree)">?/?? (?%)</td>
                      {{ if viewOrEdit == 'EDIT': }}
                        <td><input type="checkbox" style="margin: 0px 20px;" data-bind="checked: false" /></td><!--checked="checked"--> 
                      {{ else: }}
                        <td data-bind="text: (true) ? 'NO' : 'YES'">?</td>
                      {{ pass }}
                    </tr>
                  </tbody>
                <!-- EXAMPLES of tree-table entries
                    <tr>
                        <td><a href="#">Parsimony tree (urchins)</a></td>
                        <td>Parsimony</td>
                        <td>92/108</td>
                        <td><input type="checkbox" checked="checked" /></td>
                    </tr>
                    <tr>
                        <td><a href="#">Alternate weighting</a></td>
                        <td>Parsimony</td>
                        <td>23/45</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td><a href="#">Draft tree</a></td>
                        <td>Equally weighted</td>
                        <td>14/20</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                -->
                </table>

                <div class="pagination pagination-centered pagination-small" Xdata-bind="if: nexml.trees.tree().length &gt; nexml.trees.tree.pagedItems().length">
                  <ul>
                    <li data-bind="css: { 'disabled': !nexml.trees.tree.prev.enabled() }" class="disabled">
                        <a href="#" onclick="viewModel.nexml.trees.tree.prev(); return false;">&laquo;</a>
                    </li>
                   <!-- ko foreach: getPageNumbers( nexml.trees.tree) -->
                    <li data-bind="css: { 'active': (viewModel.nexml.trees.tree.current() === $data) }" class="active">
                        <a href="#" data-bind="text: $data" onclick="viewModel.nexml.trees.tree.goToPage(parseInt($(this).text())); return false;">0</a>
                    </li>
                   <!-- /ko -->
                    <li data-bind="css: { 'disabled': !nexml.trees.tree.next.enabled() }" class="disabled">
                        <a href="#" onclick="viewModel.nexml.trees.tree.next(); return false;">&raquo;</a>
                    </li>
                  </ul>
                </div>
            </div>

           </div><!-- end of main column... -->
           <div class="span4"><!-- right col -->
            <p>
            [TODO] Here's some text about trees in a study. For example, what do we mean by 
            <strong>preferred</strong> trees? Plus tools for importing/adding new trees.
            Clicking a tree name should open a modal tree view/editor (D3?).
            </p>

            <div class="well">
                <h4 style="margin-top: 0;">Add a tree to this study</h4>
                <form style="margin: 0;">
                 <fieldset>
                  <label for="new-tree-newick">Paste a Newick string&hellip;</label>
                  <textarea id="new-tree-newick" rows="5" class="input-block-level" Xstyle="width: 95%;"></textarea>
                  
                  <label for="new-tree-upload">&hellip;or upload a tree file</label>
{{
#                  <input id="new-tree-upload" type="file" class="Xinput-block-level">
#
#                    OK, that's hideous. Trying some more attractive styles as described here:
#                        http://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button
#                        http://duckranger.com/2012/06/pretty-file-input-field-in-bootstrap/
#                        http://www.randomout.com/2012/07/hacking-more-visually-appealing-file.html
}}

                  <div style="position:relative; margin-bottom: 1em;">
                    <a class="btn" href="javascript:;">
                        Choose File...
                        <input type="file" name="new-tree-upload" size="40" 
                               style="position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';opacity:0;background-color:transparent;color:transparent;"
                               onchange="$('#upload-tree-info').html( filenameFromFakePath($(this).val()) );">
                    </a>
                    &nbsp;
                    <span class='label label-info' id="upload-tree-info"></span>
                  </div>
                  
<!-- TODO: Enter a URL or DOI for the new tree?
                  <label for="new-tree-URL">&hellip;or paste an URL to the tree</label>
                  <input type="text" id="new-tree-URL" class="input-block-level" value="" placeholder="Paste URL here">
-->

                  <label class="checkbox">
                      <input name="new-tree-preferred" type="checkbox" value="">
                      Mark this tree as preferred for synthesis
                  </label>

                  <div Xclass="form-actions" style="margin-top: 1em;">
                      <button type="submit" class="btn btn-primary btn-primary-disabled" disabled="disabled">Add new tree 
                        <i class="icon-circle-arrow-up Xicon-arrow-up Xicon-chevron-up Xicon-plusXicon-upload icon-white"></i></button>
                      <button type="button" class="btn">Cancel</button>
                  </div>
                 </fieldset>
                </form>
            </div>
           </div><!-- end of right col -->
          </div><!-- /.tab-pane -->

          <div class="tab-pane" id="Files">
           <div class="span8"><!-- main column... -->
            <ul class="suggestion-list"></ul>
            <div style="margin-bottom: 100px;">

              <div class="navbar">
               <div class="navbar-inner">
                <form class="navbar-search pull-left">
                    <input type="text" class="search-query" placeholder="Filter by name or type">
                </form>
               </div>
              </div>

                <table class="table table-condensed">
                    <tr>
                        <th>File name (click to see file details)</th>
                        <th>Type</th>
                        <th>Size</th>
                    </tr>
                    <tr>
                        <td><a href="#">Alignment data (urchins).xls</a></td>
                        <td>Microsoft Excel spreadsheet</td>
                        <td>241 KB</td>
                    </tr>
                </table>

                <div class="pagination pagination-centered pagination-small">
                  <ul>
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li class="disabled"><a href="#">&raquo;</a></li>
                  </ul>
                </div>
            </div>

           </div><!-- end of main column... -->
           <div class="span4"><!-- right col -->
            <p>
            [TODO] Here's some text about files in a study. Plus tools for
            importing/adding new files. What about bulk imports?
            </p>
            <div class="well Xwell-large">
                <h4 style="margin-top: 0;">Add a file to this study</h4>
                <form style="margin: 0;">
                 <fieldset>
<!--
                  <label for="new-file-newick">Paste file contents here&hellip;</label>
                  <textarea id="new-file-newick" rows="5" class="input-block-level" Xstyle="width: 95%;"></textarea>
                  
-->
                  <label for="new-file-upload">Upload a file &hellip;</label>

                  <div style="position:relative; margin-bottom: 1em;">
                    <a class="btn" href="javascript:;">
                        Choose File...
                        <input type="file" name="new-file-upload" size="40" 
                               style="position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';opacity:0;background-color:transparent;color:transparent;"
                               onchange="$('#upload-file-info').html( filenameFromFakePath($(this).val()) );">
                    </a>
                    &nbsp;
                    <span class='label label-info' id="upload-file-info"></span>
                  </div>
                  
                  <label for="new-file-URL">&hellip;or paste its URL:</label>
                  <input type="text" id="new-file-URL" class="input-block-level" value="" placeholder="Paste file URL here">

                  <div Xclass="form-actions" style="margin-top: 1em;">
                      <button type="submit" class="btn btn-primary btn-primary-disabled" disabled="disabled">Add new file 
                        <i class="icon-circle-arrow-up Xicon-arrow-up Xicon-chevron-up Xicon-plusXicon-upload icon-white"></i></button>
                      <button type="button" class="btn">Cancel</button>
                  </div>
                 </fieldset>
                </form>
            </div>
           </div><!-- end of right col -->
          </div><!-- /.tab-pane -->

          <div class="tab-pane" id="OTU-Mapping">
           <div class="span8"><!-- main column... -->
            <ul class="suggestion-list"></ul>
            <div style="margin-bottom: 100px;">

              <div class="navbar">
               <div class="navbar-inner">
                <form class="navbar-search pull-left">
                    <input type="text" class="search-query" placeholder="Filter by original or mapped label">
                </form>
                <ul class="nav" style="padding-left: 1em;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          In preferred trees
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">In all trees</a></li>
                            <li><a href="#">In preferred trees</a></li>
                            <li><a href="#">In non-preferred trees</a></li>
                        </ul>
                    </li>
                    <!--<li class="divider-vertical"></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Unmapped OTUs first
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Unmapped OTUs first</a></li>
                            <li><a href="#">Mapped OTUs first</a></li>
                            <li><a href="#">Original label (A-Z)</a></li>
                            <li><a href="#">Original label (Z-A)</a></li>
                        </ul>
                    </li>
                </ul>
               </div>
              </div>


                <table class="table table-condensed table-hover">
                  <thead>
                    <tr>
                        <th width="30%">Original label</th>
                        <th width="30%">Modified for mapping</th>
                        <th width="5%">&nbsp;</th>
                        <th width="35%">Taxon label in OTT</th>
                    </tr>
                  </thead>
                  <tbody data-bind="foreach: { data: nexml.otus.otu.pagedItems(), as: 'otu' }">
                    <tr data-bind="if: true">
                        <td data-bind="text: getMetaTagAccessorByAtProperty(otu.meta(), 'ot:originalLabel')">ORIGINAL?</td>
                         <!-- ko if: (bogusEditedLabelCounter() > 0) && editedLabelAccessor(otu) == null -->
                        <td>
                            <em data-bind="text: adjustedLabel(getMetaTagAccessorByAtProperty(otu.meta(), 'ot:originalLabel'))">WORKING?</em>
                        </td>
                        <td>
                            <button class="btn btn-mini row-controls-ghosted" data-bind="click: editOTULabel">
                                <i class="icon-edit"></i>
                            </button>
                        </td>
                         <!-- /ko -->
                         <!-- ko if: (bogusEditedLabelCounter() > 0)  && editedLabelAccessor(otu) != null --> 
                        <td>
                            <input type="text" style="height: 14px; margin: 0; width: 97%;" data-bind="value: editedLabelAccessor(otu)">
                        </td>
                        <td>
                            <button class="btn btn-mini row-controls-ghosted" type="button" style="margin-top: 1px;" data-bind="click: revertOTULabel">
                                <i class="icon-remove"></i>
                            </button>
                        </td>
                         <!-- /ko -->
                        <td>
                         <!-- ko if: currentlyMappingOTUs.indexOf(otu['@id']()) !== -1 -->
                            <strong style="color: red;"><em>...mapping now...</em></strong>
                         <!-- /ko -->
                         <!-- ko if: failedMappingOTUs.indexOf(otu['@id']()) !== -1 -->
                            <strong style="color: #999;"><em>Failed mapping (edit or add hints)</em></strong>
                         <!-- /ko -->
                         <!-- ko if: (currentlyMappingOTUs.indexOf(otu['@id']()) === -1) && 
                                     (failedMappingOTUs.indexOf(otu['@id']()) === -1) -->
                            <div class="btn-group pull-right row-controls-ghosted">
                                <button class="btn btn-mini">
                                    <i class="icon-ok"></i>
                                </button>
                                <button class="btn btn-mini" data-bind="click: unmapOTUFromTaxon">
                                    <i class="icon-remove"></i>
                                </button>
                            </div>
                            <strong data-bind="text: otu['@label']">MAPPED LABEL</strong>
                         <!-- /ko -->
                        </td>
                    </tr>
                  </tbody>
                </table>

                <div class="pagination pagination-centered pagination-small" Xdata-bind="if: nexml.otus.otu().length &gt; nexml.otus.otu.pagedItems().length">
                  <ul>
                    <li data-bind="css: { 'disabled': !nexml.otus.otu.prev.enabled() }" class="disabled">
                        <a href="#" onclick="viewModel.nexml.otus.otu.prev(); return false;">&laquo;</a>
                    </li>
                   <!-- ko foreach: getPageNumbers( nexml.otus.otu) -->
                    <li data-bind="css: { 'active': (viewModel.nexml.otus.otu.current() === $data) }" class="active">
                        <a href="#" data-bind="text: $data" onclick="viewModel.nexml.otus.otu.goToPage(parseInt($(this).text())); return false;">0</a>
                    </li>
                   <!-- /ko -->
                    <li data-bind="css: { 'disabled': !nexml.otus.otu.next.enabled() }" class="disabled">
                        <a href="#" onclick="viewModel.nexml.otus.otu.next(); return false;">&raquo;</a>
                    </li>
                  </ul>
                </div>
            </div>

           </div><!-- end of main column... -->
           <div class="span4"><!-- right col -->
            <p>
            For a tree in your study to contribute to synthesis in the Open
            Tree of Life project, its leaf nodes should correspond to taxa in 
            the OTT (Open Tree Taxonomy). This list includes all the OTUs
            (operating taxonomic units) in your study. Each OTU is a distinct
            label used in one or more of your study's trees.
            </p>
            <p>
            We use a TNRS (taxonomic name resolution service) to automate this
            "mapping" process where possible. If you've used standard taxonomic
            names for the nodes in your trees, mapping is fast and easy.
            But most trees submitted have been labeled with institutional
            shorthand, unrecognized taxa, or simple misspellings. The tools on
            this page will help you adjust labels for faster mapping.
            </p>
<!-- TODO: If we're doing independent server-side mapping, show a blanket message like this to avoid conflicts?
            <div class="alert alert-block">
                <h4>Server-side mapping in progress</h4>
                This section is blocked while the server works. Please check again later. [TODO] 
            </div>
-->

            <button class="btn btn-warning input-block-level" style="margin-bottom: 1em;"
                    onclick="clearVisibleMappings(); return false;">
                <i class="icon-warning-sign icon-white"></i>
                Clear visible mappings (please be patient)
            </button>

            <div class="well Xwell-large">
                <div class="pull-right" style="margin-top: -2px;">
                    <button id="pause-mapping-button" class="btn btn-small" 
                            data-bind="visible: autoMappingInProgress()"
                            onclick="stopAutoMapping(); return false;">
                        <i class="icon-pause"></i> Pause mapping</button>
                    <button id="start-mapping-button" class="btn btn-small"
                            data-bind="visible: !autoMappingInProgress()"
                            onclick="startAutoMapping(); return false;">
                        <i class="icon-play"></i> Start mapping</button>
                </div>
                <h4 style="margin-top: 0;">Mapping status</h4>
                <div class="progress" 
                     style="margin-bottom: 0; background-color: #333;"
                     data-bind="css: recentMappingSpeedBarClass">
                  <div class="bar" style="text-align: center;"
                       data-bind="style: { width: recentMappingSpeedPercent }">
                      <span data-bind="text: recentMappingSpeedLabel">10 sec / name</span>
                  </div>
                </div>
            </div>
            <div class="well">
                <h4 style="margin-top: 0;">Mapping hints</h4>
                <p>
                The easiest way to improve mapping performance is to provide a
                narrow context for the search.
                </p>
                <form class="form-inline" style="margin: 0;">
                 <fieldset>
                    <!-- scraped from header search in main opentree webapp -->
                    <!-- TODO: fetch a live list, as we do there? -->
                    <select class="input-block-level" style="margin-bottom: 1em;" name="taxon-search-context" 
                            data-bind="value: getOTUMappingHints().author.invocation.params.searchContext">
                            <option selected="selected">All life</option>
                            <option>Land plants</option>
                            <option>Hornworts</option>
                            <option>Mosses</option>
                            <option>Liverworts</option>
                            <option>Vascular plants</option>
                            <option>Club mosses</option>
                            <option>Ferns</option>
                            <option>Seed plants</option>
                            <option>Flowering plants</option>
                            <option>Magnoliids</option>
                            <option>Monocots</option>
                            <option>Eudicots</option>
                            <option>Asterids</option>
                            <option>Rosids</option>
                            <option>Animals</option>
                            <option>Birds</option>
                            <option>Tetrapods</option>
                            <option>Mammals</option>
                            <option>Amphibians</option>
                            <option>Vertebrates</option>
                            <option>Arthropods</option>
                            <option>Molluscs</option>
                            <option>Platyhelminthes</option>
                            <option>Annelids</option>
                            <option>Cnidarians</option>
                            <option>Arachnides</option>
                            <option>Insects</option>
                            <option>Bacteria</option>
                            <option>Fungi</option>
                    <!-- 
                    NOTE that the displayed OPTION values (confirmed as current via AJAX) are accepted 
                    by the server, ie, there's no distinction between visible and occult values.
                    -->
                    </select>
                 </fieldset>
                </form>
                <p>
                If mapping is slow or failing, you can streamline the process by
                modifying the original node labels. Any active substitutions below
                will be applied to all labels during OTU mapping. (See the
                italic <strong>Modified for mapping</strong> values at left.)
                Try some common patterns from the drop-down menu below, or use
                <a href="http://www.regular-expressions.info/javascript.html#replace" target="_blank">regular expressions</a> to construct your own.
                </p>
                <i data-bind="if: getOTUMappingHints() === null">ERROR: No mapping hints found!</i>
              <!-- ko if: getOTUMappingHints() !== null -->
                <form class="form-inline" style="margin: 0;">
                 <fieldset>
                  <!--<label for="new-tree-newick">Substitutions</label>-->
                  <table>
                    <thead>
                        <tr>
                            <th width="20">&nbsp;</th>
                            <th>Replace this...</th>
                            <th>with this</th>
                            <th width="20">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="mapping-adjustments" data-bind="foreach: { data: getOTUMappingHints().author.invocation.params.substitutions(), as: 'substitution'}">
                        <tr>
                            <td align="center" valign="center">
                                <input type="checkbox" data-bind="checked: substitution.active" 
                                       title="If checked, this substitution will be used."/>
                            </td>
                            <td>
                                <input type="text" class="input-block-level" 
                                       data-bind="value: substitution.old, valueUpdate: 'afterkeydown', style: { 'background-color': substitution.valid() ? '' : '#fdd' }"/>
                            </td>
                            <td>
                                <input type="text" class="input-block-level" data-bind="value: substitution.new, valueUpdate: 'afterkeydown'"/>
                            </td>
                            <td align="center" valign="center">
                                <a href="#" title="Click to remove this substitution."
                                   data-bind="click: function(data, event) { removeSubstitution(data);  }" />
                                    <i class="icon-remove"></i></a>
                            </td>
                        </tr>
                    </tbody>
                  </table>

                  <div style="margin-top: 1em;">
                      <select class="input-block-level" onchange="addSubstitution(this); return false;">
                        <option value="">Add a common substitution...</option>
                       <!-- NOTE the convention here... value="{OLD} =:= {NEW}" -->
                        <option value="\bsp(\.|\b) =:= ">Remove 'sp.'</option>
                        <option value="foo =:= bar">Replace 'foo' with 'bar'</option>
                        <option value="^(\w*)\s+\b =:= ">Remove first of multiple words</option>
                        <option value="\b\s+(\w*)$ =:= ">Remove last of multiple words</option>
                        <option value=".*\s+(\w*)\s*$ =:= $1">Isolate trailing ID</option>
                      </select>
                  </div>
                  <div style="margin-top: 1em;">
                      <button type="submit" class="btn"
                              onclick="addSubstitution(); return false;">Add another substitution 
                        <i class="icon-add "></i></button>
                  </div>

                 </fieldset>
                </form>
              <!-- /ko -->
                <p style="margin: 1em 0 0;">
                As a last resort, you can directly edit the label submitted for mapping. Just click 
                the <button class="btn btn-mini"><i class="icon-edit"></i></button> buttons
                in the <strong>Modified for mapping</strong> column at left.
                </p>
            </div>
           </div><!-- end of right col -->
          </div><!-- /.tab-pane -->

          <div class="tab-pane" id="Annotations">
           <div class="span12"><!-- full width... -->
            <ul class="suggestion-list"></ul>
            <div style="margin-bottom: 100px;">

              <div class="navbar">
                 <div class="navbar-inner">
                  <form class="navbar-search pull-left">
                      <input type="text" class="search-query" placeholder="Filter by name, location, text">
                  </form>
                  <ul class="nav" style="padding-left: 1em;">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            In trees and nodes
                            <b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu">
                              <li><a href="#">Anywhere in the study</a></li>
                              <li><a href="#">In files</a></li>
                              <li><a href="#">In OTU mapping</a></li>
                              <li><a href="#">In study metadata</a></li>
                              <li><a href="#">In trees and nodes</a></li>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Submitted by all
                            <b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu">
                              <li><a href="#">Submitted by all</a></li>
                              <li><a href="#">Submitted by users</a></li>
                              <li><a href="#">Added by validation apps</a></li>
                          </ul>
                      </li>
                  </ul>
                 </div>
              </div>

                <table class="table table-condensed">
                  <thead>
                    <tr>
                        <th>Type</th>
                        <th>Location (click to see note there)</th>
                        <th>Added by</th>
                        <th>Message(s)</th>
                    </tr>
                  </thead>
                  <tbody>
                  <!-- ko foreach: { data: nexml.meta(), as: 'annotation' } -->
                    <tr data-bind="if: annotation['@property']() == 'ot:annotation'">
                        <td data-bind="text: annotation.$, style: { color: typeof(annotation.isValid) === 'undefined' || annotation.isValid() ? '' : 'red' }"></td><!-- general description (annotation type) -->
                        <td><a href="#">Study</a></td><!-- TODO -->
                        <td data-bind="text: annotation.author.name"></td>
                      <!-- ko if: annotation.messages -->
                        <td data-bind="if: annotation.messages">
                            <ul style="list-style: none;" data-bind="foreach: annotation.messages()">
                                <li style="border-bottom: 1px solid #ccc; padding: 2px 0;">
                                <!-- data-bind="text: code" is SHOUTY_UPPERCASE -->
                                <span data-bind="text: comment"></span>
                                <!-- data-bind="text: data" can be object or function or ... -->
                                in <span data-bind="text: refersTo.top()"></span>
                                [<span data-bind="text: severity"></span>]
                            </ul>
                        </td>
                      <!-- /ko -->
                      <!-- ko if: !annotation.messages -->
                        <td>
                            NO MESSAGES HERE
                        </td>
                      <!-- /ko -->
                    </tr>
                  <!-- /ko -->
                  <!-- EXAMPLES of other annotation types: -->
                    <tr>
                        <td>Reply</td>
                        <td><a href="#">Message thread</a></td>
                        <td><a href="#">Charles Darwin</a></td>
                        <td style="font-style: italic;">Au contraire, mon ami. The condor properly belongs everywhere...</td>
                    </tr>
                    <tr>
                        <td>Comment</td>
                        <td><a href="#">Charadriidae</a></td>
                        <td><a href="#">Jim Allman</a></td>
                        <td style="font-style: italic;">This is not the place for condors or butterflies in any case...</td>
                    </tr>
                    <tr>
                        <td>Question</td>
                        <td><a href="#">Additional Birds.xls</a></td>
                        <td><a href="#">Jonathan Rees</a></td>
                        <td style="font-style: italic;">Is there a reason for this data file? It doesn't seem to correspond...</td>
                    </tr>
                    <tr>
                        <td>Erratum</td>
                        <td><a href="#">Seabird tree</a></td>
                        <td><a href="#">Charles Darwin</a></td>
                        <td style="font-style: italic;">This tree is poorly rooted, in my opinion.</td>
                    </tr>
                  </tbody>
                </table>

                <!-- TODO: respond to calculated notes, gathered from throughout study Nexson -->
                <div class="pagination pagination-centered pagination-small" data-bind="if: true">
                  <ul>
                    <li data-bind="css: { 'disabled': !nexml.trees.tree.prev.enabled() }" class="disabled">
                        <a href="#" onclick="viewModel.nexml.trees.tree.prev(); return false;">&laquo;</a>
                    </li>
                   <!-- ko foreach: getPageNumbers( nexml.trees.tree) -->
                    <li data-bind="css: { 'active': (viewModel.nexml.trees.tree.current() === $data) }" class="active">
                        <a href="#" data-bind="text: $data" onclick="viewModel.nexml.trees.tree.goToPage(parseInt($(this).text())); return false;">1</a>
                    </li>
                   <!-- /ko -->
                    <li data-bind="css: { 'disabled': !nexml.trees.tree.next.enabled() }" class="disabled">
                        <a href="#" onclick="viewModel.nexml.trees.tree.next(); return false;">&raquo;</a>
                    </li>
                  </ul>
                </div>

            </div>
           </div><!-- end of full-width column... -->
          </div><!-- /.tab-pane -->

          <div class="tab-pane" id="Tools">
           <div class="span8"><!-- main column... -->
            <ul class="suggestion-list"></ul>

            <div style="margin-bottom: 100px;">

                <table class="table Xtable-condensed bare-top-row">
                  <tbody>
                    <tr>
                        <td width="100">
                            <img class="tool-icon" alt="treemachine" src="" 
                                 style=""/>
                        </td>
                        <td width="125"><a href="#">Open Tree of Life (treemachine)</a></td>
                        <td>
                            This runs automatically for any study in the
                            system. <strong>This study fails</strong>, possibly
                            because it has no preferred tree (marked for
                            synthesis) or needs additional OTU mapping for
                            synthesis.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img alt="MIAPA validator" src="" 
                                 style="width: 100px; height: 100px; background-color: #eee; Xborder: 1px solid #ccc; Xborder-radius: 8px;"/>
                        </td>
                        <td><a href="#">MIAPA Validator</a></td>
                        <td>
                            This runs automatically against any study in the system. <strong>This study passes!</strong>
                        </td>
                    </tr>
                  </tbody>
                </table>

            </div>
           </div><!-- end of main column... -->
           <div class="span4"><!-- right col -->
            <p>
            [TODO] Here's some text about the available tools and how to use them, add new ones, register a new tool..?
            A collection of available tools for this study, and other (ghosted) tools that could become available. Space carrots!
            </p>
           </div><!-- end of right col -->
          </div><!-- /.tab-pane -->

          <div class="tab-pane" id="Status">
           <div class="span8"><!-- main column... -->
            <ul class="suggestion-list"></ul>
            <div style="margin-bottom: 100px;">

                <img src="{{=URL('static','images/study-status-under-revision.png')}}" alt="Under Revision" />

                  <p>
                    <strong style="color: #c33;">There is an active hold on this study (details below).</strong>
                  </p>
                  <pre style="border: 1px solid #c33; color: #c33;">Validation suggests that the preferred tree's rooting is dubious. 
Please review and re-submit.</pre>

                  <p>
                    There are <a href="#">5 open issues</a> in this study's annotations.
                  </p>

                <form>
                {{ if viewOrEdit == 'EDIT': }}
                  <div class="control-group">
                    <div class="controls">
                      <button class="btn btn-disabled" disabled="disabled">Submit study for synthesis</button>
                    </div>
                  </div>
                {{ pass }}
                </form>
            </div>

        {{ if viewOrEdit == 'EDIT': }}
            <i><a href="#" onclick="if ($('#formatted-nexson').is(':visible')) { $('#formatted-nexson').hide() } else { $('#formatted-nexson').show() }; return false;">current nexml</a> (remapped for return to server)</i>
            <pre id="formatted-nexson" data-bind="text: ko.mapping.toJSON(nexml.meta)" style="color: #933; font-size: small; width: 90%; height: 500px; overflow: auto; display: none;">
            </pre>
        {{ pass }}
            <div style="height: 2em;">&nbsp;</div>
         </div><!-- end of main column... -->
         <div class="span4"><!-- right col -->
            <strong>Study quality</strong> <a id="quality-details-toggle" onclick="toggleQualityDetails(); return false;" href="#">(hide details)</a>
            
            <div data-bind="css: studyQualityBarClass">
              <div class="bar" data-bind="style: { width: studyQualityPercentStyle }">
                  <span data-bind="text: studyQualityPercent"></span>%
              </div>
            </div>

            <div id="study-quality-details" class="well" style="display: block; margin-top: -6px; padding: 11px 15px 0px;">
                <!-- details for score criteria will appear here -->
            </div>
         </div><!-- end of right col -->
       </div><!-- /.tab-pane -->

    </div><!-- /.tab-content -->


</div><!-- /.row -->

<script type='text/javascript'>
    var studyID = '{{= request.args[0] }}';
    var viewOrEdit = '{{= viewOrEdit }}';
    var authorName = '{{= auth.user and auth.user.name or 'ANONYMOUS' }}';
    var authorEmail = '{{= auth.user and auth.user.email or 'ANONYMOUS' }}';
    var authToken = '{{= auth.user and auth.user.github_auth_token or 'ANONYMOUS'}}';
    var API_create_study_POST_url = '{{= conf.get("apis", "API_create_study_POST_url") }}';
    var API_load_study_GET_url = '{{= conf.get("apis", "API_load_study_GET_url") }}';
    var API_update_study_PUT_url = '{{= conf.get("apis", "API_update_study_PUT_url") }}';

    var treemachine_domain = "{{=treemachine_domain}}";
    var taxomachine_domain = "{{=taxomachine_domain}}";
    var getDraftTreeID_url = "{{=getDraftTreeID_url}}";
    var getSyntheticTree_url = "{{=getSyntheticTree_url}}";
    var getSourceTree_url = "{{=getSourceTree_url}}";
    var getConflictTaxJsonAltRel_url = "{{=getConflictTaxJsonAltRel_url}}";
    var getDraftTreeForOttolID_url = "{{=getDraftTreeForOttolID_url}}";
    var getDraftTreeForNodeID_url = "{{=getDraftTreeForNodeID_url}}";
    var doTNRSForNames_url = "{{=doTNRSForNames_url}}";
    var getNodeIDForOttolID_url = "{{=getNodeIDForOttolID_url}}";
    var getJSONFromNode_url = "{{=getJSONFromNode_url}}";
</script>
<script src="{{=URL('static','js/study-editor.js')}}"></script>

<!-- hidden template for the tree-viewer (editor) -->
<div class="modal hide fade modal-tree-viewer" id="tree-viewer" style="display: none;">
    <div class="modal-header">
      <a data-dismiss="modal" class="close">×</a>
      <h3 id='dialog-heading'></h3>
    </div>
    <div class="modal-body">
        <div id="dialog-data"></div>
    </div>
    <div class="modal-footer">
      <a data-dismiss="modal" class="btn" >Close</a>
      <a class="btn btn-primary" id="btnSaveChanges">Save changes</a>
    </div>
</div>
