{% extends "layout.jinja2" %}

{% block center %}
<div class="content">
  <h1><span class="font-semi-bold">404</span> <span class="smaller">Page Not Found</span></h1>
  <p class="lead">Please check your URL or use the navigation tools above.</p>
</div>
{% endblock center %}
