.DS_Store
*~
*.pyc
*.class
tmp
*.tmp
backup/
smasher/tax/gbif
smasher/tax/ncbi
smasher/tax/nem_ncbi
smasher/tax/nem_gbif
smasher/tax/nem
smasher/tax/ott
smasher/tax/prev_ott
smasher/feed/*/in
smasher/feed/*/out
*.pem
deploy/janrain.key
GITHUB_CLIENT_SECRET
GITHUB_APP_PRIVATE_KEY_PEM
smasher/lib/json-simple-1.1.1.jar
deploy/setup/CONFIG
env
web2py
restart.sh
webapp/static/statistics/
lint/
