*~
*.pyc
*.class
tmp
*.tmp
backup/
smasher/tax/gbif
smasher/tax/ncbi
smasher/tax/nem_ncbi
smasher/tax/nem_gbif
smasher/tax/nem
smasher/tax/ott
smasher/tax/prev_ott
*.pem
smasher/lib/json-simple-1.1.1.jar