requests==2.28.1
python-dateutil==2.2
locket==0.1.1
bleach==5.0.1
jwcrypto==0.9.1
python-jwt==3.3.0
pyramid==2.0
pipdeptree==2.3.1
cookiecutter==2.1.1
configparser==5.3.0
Markdown==3.5.1
Authomatic==1.2.1
uvicorn==0.29.0
prettydate==0.2
pytz==2024.1
pyramid-retry==2.1.1
## The following requirements were added by pip freeze:
arrow==0.15.8
attrs==22.1.0
beautifulsoup4==4.11.1
binaryornot==0.4.4
certifi==2022.6.15.1
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.1.1
click==8.1.3
coverage==6.4.4
cryptography==38.0.1
Deprecated==1.2.13
gunicorn==21.2.0
h11==0.14.0
hupper==1.10.3
idna==3.3
importlib-metadata==7.0.0
iniconfig==1.1.1
Jinja2==3.1.2
jinja2-time==0.2.0
Mako==1.2.2
MarkupSafe==2.1.1
packaging==21.3
Paste==3.10.1
PasteDeploy==2.1.1
PasteScript==3.6.0
plaster==1.0
plaster-pastedeploy==0.7
pluggy==1.0.0
py==1.11.0
pycparser==2.21
Pygments==2.13.0
pyparsing==3.0.9
pyramid-debugtoolbar==4.9
pyramid-jinja2==2.10
pyramid-mako==1.1.0
pytest==7.1.3
pytest-cov==3.0.0
python-slugify==6.1.2
PyYAML==6.0
repoze.lru==0.7
six==1.16.0
soupsieve==2.3.2.post1
-e git+ssh://git@github.com/OpenTreeOfLife/webapp-tree-viewer.git@f6d622a90adfe5c793374ba21d05712954d502f7#egg=synthetic_tree_viewer&subdirectory=synthetic_tree_viewer
text-unidecode==1.3
tomli==2.0.1
translationstring==1.4
typing_extensions==4.10.0
urllib3==1.26.12
venusian==3.0.0
waitress==2.1.2
webencodings==0.5.1
WebOb==1.8.7
WebTest==3.0.0
wrapt==1.14.1
zipp==3.17.0
zope.deprecation==4.4.0
zope.interface==5.4.0
