/* style for local (URL-based) comments */
div.plugin_localcomments {
    /* border: 1px dashed pink; */
    width: 800px;
    margin-bottom: 30px;
}
div.plugin_localcomments .byline {
    background-color: #f5f5f5;
    color: #888;
    margin: 0px -4px 6px;
    padding: 2px 4px;
}
div.plugin_localcomments .byline .badge {
    color: #080;
}
div.plugin_localcomments .deleted .controls,
div.plugin_localcomments .byline .controls {
    padding-left: 20px;
}
.plugin_localcomments form {
    /* border: 1px dashed mint; */
}
.plugin_localcomments ul {
    list-style: none;
    padding-left: 5px;
    margin: 0;
}
.plugin_localcomments .body {
    font-size: 120%;
    padding: 3px 0 0;
}
.plugin_localcomments ul ul {
    padding-left: 20px;
    border-left: 1px dotted #ccc;
}
.plugin_localcomments ul li {
    /* border: 1px dashed silver; */
}
.plugin_localcomments ul div.deleted {
    color: #933;
    margin-top: 5px;
}
.plugin_localcomments ul div.reply {
    padding-left: 24px;
}

div.localcomments_moderation {

}
div.localcomments_moderation #moderation-header {
    text-align: right;
    padding-bottom: 12px;
}
div.localcomments_moderation table caption {
    display: none;
}

/* emulate Bootstrap's .table-striped, with more flexible striping */
div.localcomments_moderation tr.odd td,
div.localcomments_moderation tr.odd th {
    background-color: #F9F9F9;
}
div.localcomments_moderation tr.even td,
div.localcomments_moderation tr.even th {
    background-color: #FFFFFF;
}
div.localcomments_moderation tr.feedback-summary td {
    white-space: nowrap;
    overflow: hidden;
}
div.localcomments_moderation tr.feedback-summary td.body-excerpt {
    width: 700px;
    max-width: 700px;
}
div.localcomments_moderation tr.feedback-summary td.body-excerpt,
div.localcomments_moderation tr.feedback-summary td.author-name {
    /* white-space: normal; */
    overflow: hidden; 
    text-overflow: ellipsis;
}
div.localcomments_moderation tr.feedback-summary td.type-and-toggle-icons {
    white-space: normal;
}
div.localcomments_moderation tr.feedback-summary .feedback-toggle {
    display: none;
    cursor: pointer;
}
div.localcomments_moderation tr.feedback-summary:hover .feedback-toggle {
    display: block;
}
div.localcomments_moderation tr.feedback-details {
    display: none;
}
div.localcomments_moderation tr.feedback-details td {
    border-top: 1px solid transparent;
}
div.localcomments_moderation .feedback-body {
    border-radius: 5px;
    border: 1px solid #eed;
    background-color: #ffe;
    color: $442;
    margin: 0 12px 4px 18px;
    padding: 4px 12px;
    white-space: pre-wrap;
}
