{{extend 'layout.html'}}
{{
# Unused code, originally intended to provide a web-based UI for moderating comments
}}

{{ """
    A friendly "time since" formatter, public domain from
    http://flask.pocoo.org/snippets/33/
   """
from datetime import datetime

def timesince(dt, default="just now"):
    """
    Returns string representing "time since" e.g.
    3 days ago, 5 hours ago etc.
    """

    now = datetime.utcnow()
    diff = now - dt

    periods = (
        (diff.days / 365, "year", "years"),
        (diff.days / 30, "month", "months"),
        (diff.days / 7, "week", "weeks"),
        (diff.days, "day", "days"),
        (diff.seconds / 3600, "hour", "hours"),
        (diff.seconds / 60, "minute", "minutes"),
        (diff.seconds, "second", "seconds"),
    )

    for period, singular, plural in periods:
        if period:
            return "%d %s ago" % (period, singular if period == 1 else plural)
    pass

    return default
}}

{{
# Import machinery to render markdown in comment body
from gluon.contrib.markdown.markdown2 import markdown
}}
<div class="container">
  <!--
  <a class="pull-right" href="#" onclick="$('.more-info').toggle(); return false;">show full info</a>
  -->
  <h1 id="main-title">Feedback Moderation</h1>

  <div class="localcomments_moderation">
  {{= form.custom.begin }}

  <div id="moderation-header" class="navbar">
   <div class="navbar-inner">
    <!-- filters for the feedback list -->
<!--
    <span style="padding-top: 0.7em;">
    Filter by
    </span>
-->
    <a class="brand" style="font-size: 16px; padding-right: 10px;">Filter by</a>
    <div class="btn-group" style="float: left; margin-right: 5px;">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Feedback type
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#" onclick="alert('TODO'); return false;">Error in phylogeny</a>
            </li>
            <li>
                <a href="#" onclick="alert('TODO'); return false;">Reply or general comment</a>
            </li>
            <li>
                <a href="#" onclick="alert('TODO'); return false;">Bug report</a>
            </li>
            <li>
                <a href="#" onclick="alert('TODO'); return false;">Feature request</a>
            </li>
            <li>
                <a href="#" onclick="alert('TODO'); return false;">Extinct/extant issue</a>
            </li>
        </ul>
    </div>
    <div class="btn-group" style="float: left; margin-right: 5px;">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Intended scope
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#" onclick="alert('TODO'); return false;">Re: synthetic tree</a>
            </li>
            <li>
                <a href="#" onclick="alert('TODO'); return false;">Re: source tree</a>
            </li>
            <li>
                <a href="#" onclick="alert('TODO'); return false;">Re: OTT taxon</a>
            </li>
            <li>
                <a href="#" onclick="alert('TODO'); return false;">General feedback</a>
            </li>
        </ul>
    </div>
    <div class="btn-group" style="float: left; margin-right: 10px;">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Visibility
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#" onclick="alert('TODO'); return false;">Visible</a>
            </li>
            <li>
                <a href="#" onclick="alert('TODO'); return false;">Hidden</a>
            </li>
        </ul>
    </div>
    <div class="navbar-form pull-left">
        <input type="text" class="span2" placeholder="Location" autocomplete="off" style="margin-right: 6px;">
        <input type="text" class="span2" placeholder="Author" autocomplete="off" style="margin-right: 6px;">
    </div>
    <a class="close pull-left" style="display: inline-block; padding: 6px 4px;" href="#" title="Clear all filters" onclick="alert('TODO'); return false;">&times;</a>

    <!-- compact actions on selected comments -->
    <div class="btn-group pull-right" style="text-align: left;">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <b>0</b> comments selected
            &nbsp;
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#" onclick="alert('TODO'); return false;">Hide</a>
            </li>
            <li>
                <a href="#" onclick="alert('TODO'); return false;">Un-hide</a>
            </li>
            <li>
                <a href="#" onclick="alert('TODO'); return false;">Block authors</a>
            </li>
        </ul>
    </div>

<!--
    <span id="feedback-selection-count" class="pull-right" style="padding-top: 0.7em;">
        <b>0</b> comments selected &nbsp;
    </span>
-->

<!--
    <a class="btn" href="#" onclick="alert('TODO'); return false;">Hide</a>
      &nbsp;
    <a class="btn" href="#" onclick="alert('TODO'); return false;">Un-hide</a>
      &nbsp;
    <a class="btn" href="#" onclick="alert('TODO'); return false;">Block authors</a>
-->
   </div><!-- .navbar-inner -->
  </div><!-- .navbar -->

  <table class="table XXtable-striped table-condensed">
   <caption>A list of all feedback (bug reports, feature requests, general comments) on the site.</caption>
   <tbody>
    <tr class="odd">
        <th width="40">Type</th>
        <th width="700">Body</th>
        <th colspan="4">Locations</th>
        <!--
        <th>URL</th>
        <th>OTT ID</th>
        <th>Synth tree IDs</th>
        <th>Source tree IDs</th>
        -->
        <th>Scope</th>
        <!-- <th>Votes</th> -->
        <th>Posted</th>
        <th>Author</th>
        <th><input type="checkbox" /></th>
    </tr>
  {{ import itertools
     row_class = itertools.cycle(['even', 'odd'])
     for row_class, comment in itertools.izip(row_class, comments): }}
    <tr class="{{= row_class}} feedback-summary {parentID: {{= comment.thread_parent_id }}, deleted: {{= comment.deleted }} }">
        {{""" other interesting icons:
                          icon-info-sign
                          icon-fire
                          icon-flag
                          icon-ban-circle
                          icon-thumbs-down
                          icon-thumbs-up
                          icon-heart
                          icon-gift
        """}}
        <td class="type-and-toggle-icons"><i class="{{ if comment.feedback_type == 'Error in phylogeny': }}
                          icon-move
                      {{ pass }}
                      {{ if comment.feedback_type == 'Bug report': }}
                          icon-warning-sign
                      {{ pass }}
                      {{ if comment.feedback_type == 'Feature request': }}
                          icon-wrench
                      {{ pass }}
                      {{ if (comment.feedback_type == 'Reply or general') or (not comment.feedback_type): }}
                          icon-comment
                      {{ pass }}" title="{{= comment.feedback_type or 'Reply or general comment' }}"></i>
            <i class="icon-plus feedback-toggle" title="Show details" style="float: right;" onclick="toggleFeedbackDetails(this); return false;"></i>
        </td>
        <td class="body-excerpt">{{= comment.body or "-" }}</td>
        <td>{{ if comment.url: }}
                <strong title="{{= comment.url }}">URL</strong>
            {{ else: }}
                -
            {{ pass }}</td>
        <td>{{ if comment.ottol_id: }}
                <strong title="{{= comment.ottol_id }}">OTT</strong>
            {{ else: }}
                -
            {{ pass }}</td>
        <td>{{ if comment.synthtree_id: }}
                <strong title="{{= comment.synthtree_id }}@{{= comment.synthtree_node_id }}">SYN</strong>
            {{ else: }}
                -
            {{ pass }}</td>
        <td>{{ if comment.sourcetree_id: }}
                <strong title="{{= comment.sourcetree_id }}">SRC</strong>
            {{ else: }}
                -
            {{ pass }}</td>
        {{ scopeValues = {
             'Re: synthetic tree' : 'SYN',
             'Re: source tree' : 'SRC',
             'Re: OTT taxon' : 'OTT',
             'DEFAULT' :  'GEN',
           } }}
        <td><strong style="color: #999;" title="{{= comment.intended_scope or 'General feedback' }}">{{= scopeValues[comment.intended_scope or "DEFAULT"] }}</strong></td>
        <!-- <td>{{= comment.votes }}</td> -->
        <td><span title="{{= comment.created_on.strftime("%b %d, %Y - %I:%M %p") }}">{{= timesince(comment.created_on) }}</span></td>
        <td class="author-name">{{= T('%s ',comment.created_by.first_name) }} {{= T('%s',comment.created_by.last_name) }}</td>
      <!--
        <td>
          <pre class="more-info" style="display: none;">
          {{ # = vars(comment) }}

          {{'''
          { comment_vars = vars(comment) }
          { for k,v in comment_vars.iteritems(): }
              {= k } = {= v }
          { pass }
          '''}}
          </pre>
        </td>
      -->
        <td>
            <input type="checkbox" />
        </td>
    </tr>
    <tr class="{{= row_class}} feedback-details">
        <td colspan="2">
             {{ # REMINDER: web2py's sanitize can't handle Unicode! }}
            <div class="feedback-body">{{= XML(markdown(comment.body or ''), sanitize=False) }}</div>
            <div class="feedback-actions" style="padding: 8px 12px 8px 0; text-align: right;">
                <a class="btn" href="#" onclick="alert('TODO'); return false;">View/reply in context</a>
                &nbsp;
                <a class="btn" href="#" onclick="alert('TODO'); return false;">Edit</a>
                &nbsp;
                <a class="btn" href="#" onclick="alert('TODO'); return false;">Change location</a>
                &nbsp;
                <a class="btn btn-warning" href="#" onclick="alert('TODO'); return false;">Hide comment</a>
                &nbsp;
                <a class="btn" href="#" onclick="alert('TODO'); return false;">Email author</a>
                &nbsp;
                <a class="btn btn-warning" href="#" onclick="alert('TODO'); return false;">Block author</a>
            </div>
        </td>
        <td colspan="8">
            <strong>Feedback type</strong>: {{= comment.feedback_type or 'Reply or general comment' }}
            <br/>
            <strong>Posted by</strong> {{= T('%s ',comment.created_by.first_name) }} {{= T('%s',comment.created_by.last_name) }},
            <strong>on</strong> {{= comment.created_on.strftime("%b %d, %Y - %I:%M %p") }}
            <br/>
            <strong>Location information</strong>
        {{ if comment.url: }}
            <br/>
             &nbsp; &nbsp; <strong>URL</strong>: {{= comment.url }}
        {{ pass }}
        {{ if comment.synthtree_id: }}
            <br/>
             &nbsp; &nbsp; <strong>Synthetic tree IDs</strong>: {{= comment.synthtree_id }}@{{= comment.synthtree_node_id }}
        {{ pass }}
        {{ if comment.sourcetree_id: }}
            <br/>
             &nbsp; &nbsp; <strong>Source tree IDs</strong>: {{= comment.sourcetree_id }}
        {{ pass }}
        {{ if comment.ottol_id: }}
            <br/>
             &nbsp; &nbsp; <strong>OTT ID</strong>: {{= comment.ottol_id }}
        {{ pass }}
            <br/>
            <strong>Intended scope</strong>: {{= comment.intended_scope or 'General feedback' }}
        </td>
    </tr>
  {{ pass }}
   </tbody>
  </table>
  {{= form.custom.end }}
  </div>

  <script type="text/javascript">
      function toggleFeedbackDetails(clicked) {
          var $clicked = $(clicked);
          if ($clicked.hasClass('icon-plus')) {
              $clicked.removeClass('icon-plus').addClass('icon-minus');
              $clicked.css('display','block');
              $clicked.attr('title','Hide details');
          } else {
              $clicked.removeClass('icon-minus').addClass('icon-plus');
              $clicked.css('display','');
              $clicked.attr('title','Show details');
          }
          var $detailsRow = $clicked.closest('tr').next('tr.feedback-details');
          $detailsRow.toggle();
      }
  </script>
</div><!-- .container -->
