# Copy this file to "config" (and replace tokens below) to make it active
#
# DO NOT CHANGE the formatting of assignment lines (removing spaces, etc) in
# this file! The 'config.example' files are used by our deployment scripts to
# build the final config for each web2py app. Changes here might keep it
# from being built properly.

# paths for the study/status page (DEPRECATED)
[paths]
#nexsonsdir = /usr/share/open-tree/avatol_nexsons
#study_to_status_script = /usr/share/open-tree/avatol_nexsons/nexson2treemach/study_nexson_to_status_html.py

# Specify the public-facing hostname[:port] for your opentree site, required to
# return seamlessly from Janrain login
[hosting]
hostdomain = opentree.myserver.org
 

# List public-facing base URL for treemachine and taxomachine services
# (NOTE that these are used by both server- and client-side code)
[domains]
treemachine = http://opentree.myserver.org/treemachine
taxomachine = http://opentree.myserver.org/taxomachine
oti = http://opentree.myserver.org/oti
 

# Building on the URLs above, complete the public-facing URL for all methods
# (again, these should work from both server- and client-side code)
#
# NOTE: In our example setup, all service methods are proxied through Apache as
# URLs within the main opentree site. So we assume that partial paths '/db/data/' 
# are handled in the ProxyPass statement.
[method_urls]
getDraftTreeID_url = {treemachine_domain}/ext/GoLS/graphdb/getDraftTreeID
getSyntheticTree_url = {treemachine_domain}/ext/GoLS/graphdb/getSyntheticTree  
getSourceTree_url = {treemachine_domain}/ext/GoLS/graphdb/getSourceTree  
getConflictTaxJsonAltRel_url = {taxomachine_domain}/ext/GetJsons/node/{nodeID}/getConflictTaxJsonAltRel
getDraftTreeForOttolID_url = {treemachine_domain}/ext/GoLS/graphdb/getDraftTreeForottId
getDraftTreeForNodeID_url = {treemachine_domain}/ext/GoLS/graphdb/getDraftTreeForNodeID
doTNRSForNames_url = {taxomachine_domain}/ext/TNRS/graphdb/autocompleteBoxQuery
getContextsJSON_url = {taxomachine_domain}/ext/TNRS/graphdb/getContextsJSON
getNodeIDForOttolID_url = {treemachine_domain}/ext/GoLS/graphdb/getNodeIDForottId
getJSONFromNode_url = {treemachine_domain}/ext/GetJsons/node
getSynthesisSourceList_url = {treemachine_domain}/ext/GoLS/graphdb/getSynthesisSourceList
findAllStudies_url = {oti_domain}/ext/QueryServices/graphdb/findAllStudies

