{{extend 'layout.html'}}

<div class="container">
      <h1 id="main-title">Credits</h1>

      <div class="row">
          <div class="span3">
              <ul class="nav nav-pills nav-stacked">
                  <li class="nav=header">Learn more about&hellip;</li>
                  <li>
                      <a href="{{= URL('about', 'open-tree-of-life') }}">Open Tree of Life</a>
                  </li>
                  <li>
                      <a href="{{= URL('about', 'the-synthetic-tree') }}">The synthetic tree</a>
                  </li>
                  <li>
                      <a href="{{= URL('about', 'the-source-tree-manager') }}">The source tree manager</a>
                  </li>
                  <li class="active">
                      <a href="{{= URL('about', 'credits') }}">Credits</a>
                  </li>
              </ul>
          </div>
          <div class="span9">
              <!-- TODO: Relax the margin-top if we're on a narrow screen (stacked columns), to avoid overlap. -->
              <div class="hero-unit" style="margin-top: -45px; margin-bottom: 10px; padding: 10px;">
                  <img src="http://fpoimg.com/850x200?text=workshop+group+photo?"/>
                  Here's a caption for the group portrait.
              </div>
          </div>
      </div>
      <div class="row">
          <div class="span4">
              <dl class="dl-horizontal">
                <dt>Role</dt>
                    <dd>Firstname Lastname</dd>
                <!-- NOTE: By default, long DT text is truncated to fit on one line. -->
                <dt>This role takes more space to describe than others</dt>
                    <dd>Firstname Lastname</dd>
                <dt>Yet another role</dt>
                    <dd>Firstname1 Lastname</dd>
                    <dd>Firstname2 Lastname</dd>
            </dl>
          </div>
          <div class="span4">
              <dl class="dl-horizontal">
                <dt>Yet another role</dt>
                    <dd>Firstname1 Lastname3</dd>
                    <dd>Firstname2 Lastname3</dd>
                    <dd>Firstname3 Lastname3</dd>
                <dt>A role</dt>
                    <dd>Firstname Lastname</dd>
                <dt>Another role</dt>
                    <dd>Firstname Lastname</dd>
            </dl>
          </div>
          <div class="span4">
              <dl class="dl-horizontal">
                <dt>Another role</dt>
                    <dd>Firstname Lastname And Even a Third Name, Esq.</dd>
                <!-- NOTE the styles + classes used here to handle long DT text without truncating it. -->
                <dt style="white-space: normal;">A role that takes more space to describe than some</dt>
                    <dd>Firstname Lastname</dd>
                    <dd class="clearfix">Firstname2 Lastname</dd>
                <dt>Yet another role</dt>
                    <dd>Firstname Lastname</dd>
            </dl>
          </div>
      </div>

      <h3 id="comment-header">Comments <i></i></h3>
      {{=plugin_localcomments(filter=('url',),url=request.url)}}

</div><!-- end of .container -->

<script type="text/javascript">
    // add any page-specific behavior here
</script>
