{{extend 'layout.html'}}

<div class="container">
      <h1 id="main-title">About the Open Tree of Life project</h1>

      <div class="row">
          <div class="span3">
              <ul class="nav nav-pills nav-stacked">
                  <li class="nav=header">Learn more about&hellip;</li>
                  <li class="active">
                      <a href="{{= URL('about', 'open-tree-of-life') }}">Open Tree of Life</a>
                  </li>
<!--
					<li>
                      <a href="{{= URL('about', 'the-synthetic-tree') }}">The synthetic tree</a>
                  </li>
                  <li>
                      <a href="{{= URL('about', 'materials-and-methods') }}">Materials and methods</a>
                  </li>
                  <li>
                      <a href="{{= URL('about', 'the-source-tree-manager') }}">The source tree manager</a>
                  </li>
-->
                  <li>
                      <a href="{{= URL('about', 'references') }}">Bibliographic references</a>
                  </li>
                  <li>
                      <a href="https://github.com/OpenTreeOfLife/opentree/wiki/Open-Tree-of-Life-APIs" target="_blank">API documentation</a>
                  </li>
                  <li>
                      <a href="{{= URL('about', 'developer-resources') }}">Developer resources</a>
                  </li>
                  <li>
                      <a href="{{= URL('about', 'credits') }}">Credits</a>
                  </li>
                  <li>
                      <a href="{{= URL('about', 'licenses') }}">Licenses</a>
                  </li>
              </ul>
          </div>
          <div class="span8 offset1">
              <p>
              Open Tree of Life is an NSF funded project that aims to construt a comprehensive, dynamic and digitally-available tree of life by synthesizing published phylogenetic trees along with taxonomic data. 
              </p>
			  <p>The project is a collaborative effort between 11 PIs across 10 institutions. See the <a href="{{=URL('about','credits') }}">Credits</a> page for more information about collaborators and contributors. 
              </p>
			  <p>
              Funding for OpenTree comes from NSF AVAToL #1208809
              </p>
          </div>
      </div>

      <h3 id="comment-header">Comments <i></i></h3>
      {{=plugin_localcomments(filter=('url',),url=request.url)}}

</div><!-- end of .container -->

<script type="text/javascript">
    // add any page-specific behavior here
</script>
