{{extend 'layout.html'}}

<div class="container">
      <h1 id="main-title">Open Tree of Life</h1>

      <div class="row">
          <div class="span10 offset1">
              <p>
              Open Tree of Life aims to construct a comprehensive, dynamic and digitally-available tree of life by synthesizing published phylogenetic trees along with taxonomic data. The project is a collaborative effort between 11 PIs across 10 institutions. Funding is from NSF AVAToL #1208809.
              </p>
              <p>
              <strong>Browse the tree and leave feedback</strong>: Click on nodes to move through the tree, and click on nodes or edges to see more information about taxonomies and phylogenies that contain / support that node. If you have feedback about the relationships that you see, use the "Add Comment" button.
              </p>
              <p>
              <strong>Contribute data</strong>: You can contribute to the synthetic tree by uploading trees through our <a href="/curator">curation interface</a>. These can be trees from TreeBASE or trees uploaded from your computer. There will be a delay before uploaded trees appear in the synthetic tree. Up to summer 2015, the release cycle has been months between new versions of the synthetic tree, but this should shorten in the future.
              </p>
              <p><strong>Contact us</strong> using one of the methods on the <a href="{{=URL('contact','index') }}">Contact page</a>.
              </p>
              <p><strong>Cite the Open Tree of Life</strong>: Hinchliff, Cody E., et al. "Synthesis of phylogeny and taxonomy into a comprehensive tree of life." Proceedings of the National Academy of Sciences 112.41 (2015): 12764-12769.
+                    <a target="_blank" href="http://dx.doi.org/10.1073/pnas.1423041112">http://dx.doi.org/10.1073/pnas.1423041112</a> </p>
          </div>
      </div>
      <div class="row">
          <div class="span3 offset1">
              <dl>
                <dt style="margin-left: 10px;">Postdocs & students </dt>
                    <dd>Joseph Brown</dd>
                    <dd>Ruchi Chaudhary</dd>
                    <dd>Lyndon M. Coghill</dd>
                    <dd>Jiabin Deng</dd>
                    <dd>Bryan Drew</dd>
                    <dd>Romina Gazis</dd>
                    <dd>Jessica Grant</dd>
                    <dd>Cody Hinchliff</dd>
                    <dd>Dail Laughinghouse</dd>
                    <dd>Emily Jane McTavish</dd>
                    <dd>Chris Owen</dd>
                    <dd>Ben Redelings</dd>

                <!-- NOTE: By default, long DT text is truncated to fit on one line. -->
		<!--
                <dt>This role takes more space to describe than others</dt>
                    <dd>Firstname Lastname</dd>
		    -->
            </dl>
          </div>
          <div class="span3">
              <dl>
                <dt style="margin-left: 10px;">Developers</dt>
                    <dd>Jim Allman</dd>
                    <dd>Joseph Brown</dd>
                    <dd>Karen Cranston</dd>
                    <dd>Cody Hinchliff</dd>
                    <dd>Mark Holder</dd>
                    <dd>Jonathan Leto</dd>
                    <dd>Emily McTavish</dd>
                    <dd>Peter Midford</dd>
                    <dd>Richard Ree</dd>
                    <dd>Jonathan Rees</dd>
                    <dd>Stephen Smith</dd>
            </dl>
          </div>
          <div class="span3">
              <dl>
                <dt style="margin-left: 10px;">Principal investigators</dt>
                    <dd>Gordon Burleigh</dd>
                    <dd>Keith Crandall</dd>
                    <dd>Karen Cranston</dd>
                    <dd>Karl Gude</dd>
                    <dd>David Hibbett</dd>
                    <dd>Mark Holder</dd>
                    <dd>Laura Katz</dd>
                    <dd>Richard Ree</dd>
                    <dd>Stephen Smith</dd>
                    <dd>Doug Soltis</dd>
                    <dd>Tiffani Williams</dd>

                <!-- NOTE the styles + classes used here to handle long DT text without truncating it.
                <dt style="white-space: normal;">A role that takes more space to describe than some</dt>
                    <dd>Firstname Lastname</dd>
                    <dd class="clearfix">Firstname2 Lastname</dd>
                <dt>Yet another role</dt>
                    <dd>Firstname Lastname And Even a Third Name, Esq.</dd>
		    -->
            </dl>
          </div>
      </div>

      <h3 id="comment-header">Comments <i></i></h3>
      {{=plugin_localcomments(filter='url',url=request.url)}}

</div><!-- end of .container -->

<script type="text/javascript">
    // add any page-specific behavior here
</script>
