{{extend 'layout.html'}}

<div class="container">
      <h1 id="main-title">About the Open Tree of Life project</h1>

      <div class="row">
          <div class="span10 offset1">
              <p>
              Open Tree of Life is an NSF funded project that aims to construct a comprehensive, dynamic and digitally-available tree of life by synthesizing published phylogenetic trees along with taxonomic data. 
              </p>
			  <p>The project is a collaborative effort between 11 PIs across 10 institutions. See the <a href="{{=URL('about','credits') }}">Credits</a> page for more information about collaborators and contributors. 
              </p>
			  <p>
              Funding for OpenTree comes from NSF AVAToL #1208809
              </p>
          </div>
      </div>

      <h3 id="comment-header">Comments <i></i></h3>
      {{=plugin_localcomments(filter=('url',),url=request.url)}}

</div><!-- end of .container -->

<script type="text/javascript">
    // add any page-specific behavior here
</script>
