{{extend 'layout.html'}}
{{import urllib}}
<style type="text/css">
<!--
div.contributing-studies div.row {
    margin: 1em 0 1em 2em;
    border-bottom: 1px solid #eee;
}
div.contributing-studies div.reference,
div.contributing-studies div.links {
    margin-bottom: 1em;
}
div.contributing-studies div.reference {
    margin-left: 0px;
    line-height: 1.25em;
    /* background-color: #ffeeee; */
}
div.contributing-studies div.reference a,
div.contributing-studies div.reference em {
    display: block;
    margin-top: 0.25em;
}
div.contributing-studies div.links {
    background-color: #f5f5f5;
    border-radius: 4px;
    margin-left: 2em;
    padding: 0.3em 0 0.25em 1em;
    font-size: 0.9em;
    line-height: 1.2em;
}
div.contributing-studies div.links a {
    display: block;
    margin-bottom: 0.25em;
}
//-->
</style>

<div class="container">
      <h1 id="main-title">Bibliographic references for the synthetic tree</h1>

      <div class="row">
          <div class="span3">
              <ul class="nav nav-pills nav-stacked">
                  <li class="nav=header">Learn more about&hellip;</li>
                  <li>
                      <a href="{{= URL('about', 'open-tree-of-life') }}">Open Tree of Life</a>
                  </li>
<!--
					<li>
                      <a href="{{= URL('about', 'the-synthetic-tree') }}">The synthetic tree</a>
                  </li>
                  <li>
                      <a href="{{= URL('about', 'materials-and-methods') }}">Materials and methods</a>
                  </li>
                  <li>
                      <a href="{{= URL('about', 'the-source-tree-manager') }}">The source tree manager</a>
                  </li>
-->
					<li class="active">
                      <a href="{{= URL('about', 'references') }}">Bibliographic references</a>
                  </li>
                  <li>
                      <a href="https://github.com/OpenTreeOfLife/opentree/wiki/Open-Tree-of-Life-APIs" target="_blank">API documentation</a>
                  </li>
                  <li>
                      <a href="{{= URL('about', 'developer-resources') }}">Developer resources</a>
                  </li>
                  <li>
                      <a href="{{= URL('about', 'credits') }}">Credits</a>
                  </li>
              </ul>
          </div>
          <div class="contributing-studies span8 offset1">
              <!-- TODO: Relax the margin-top if we're on a narrow screen (stacked columns), to avoid overlap. -->
              <p>The following studies have contributed to the current synthetic tree:</p>
             {{for study in contributing_studies:}}
             <div class="row">
              <div class="span4 reference">
                  {{= study.get('ot:studyPublicationReference') }}
                  {{ if study.get('ot:studyPublication'): }}
                    <a target="_blank" href="{{= study.get('ot:studyPublication') }}">{{= study.get('ot:studyPublication') }}</a>
                  {{ else: }}
                    <div style="color: #c33; background-color: #fdd; font-weight: bold; margin-top: 2px; padding: 1px 4px 3px;">
                        <em>
                            No link provided! Try 
                          <a href="http://scholar.google.com/scholar?q={{= urllib.quote(study.get('ot:studyPublicationReference').encode('utf-8')) }}"
                            target="_blank" style="margin-top: 0; display: inline;">
                            Google Scholar</a> or 
                          <a href="http://search.crossref.org/?q={{= urllib.quote(study.get('ot:studyPublicationReference').encode('utf-8')) }}"
                            target="_blank" style=" margin-top: 0; display: inline;">
                            CrossRef.org</a>
                        </em> 
                    </div>
                  {{ pass }}
              </div>
              <div class="span3 links">
                  <a target="_blank" href="{{= URL(a='curator', c='study', f='view', args=[ study.get('ot:studyId') ]) }}">Open in study curator</a>
                  <a target="_blank" href="http://www.reelab.net/phylografter/study/view/{{= study.get('ot:studyId')}}">Open in phylografter</a>
                  <a target="_blank" href="{{= oti_domain[:-4] }}/api/v1/study/{{= study.get('ot:studyId')}}">Fetch study NexSON</a>
                 {{ if study.get('ot:dataDeposit'): }}
                  <a target="_blank" href="{{= study.get('ot:dataDeposit') }}">Study data archive</a>
                 {{ pass }}
                 <a target="_blank" 
                    href="{{= URL(a='default', c='default', f='argus', args=['ottol@{}/{}'.format( study.get('ot:focalClade'), study.get('ot:focalCladeOTTTaxonName') ) ] ) }}"
                    >Browse focal clade</a>
              </div>
             </div>
             {{pass}}
          </div>

      </div>

      <h3 id="comment-header">Comments <i></i></h3>
      {{=plugin_localcomments(filter=('url',),url=request.url)}}

</div><!-- end of .container -->

<script type="text/javascript">
    // add any page-specific behavior here
</script>
