{{extend 'layout.html'}}
{{import urllib}}
{{from pprint import pprint}}
{{### Add support scripts for parsing ISO-8601 dates
  #response.files.append(URL('static','js/moment.min.js'))
}}
<style type="text/css">
<!--
div.stats-panel {
    margin: 1em 3em;
}
//-->
</style>

<div class="container">
      <h1 id="main-title">Open Tree statistics</h1>

      <div class="row">
          <div class="span10 offset1">
              <!-- TODO: Relax the margin-top if we're on a narrow screen (stacked columns), to avoid overlap. -->
              <h3>Statistics for the synthetic tree</h3>

              <div id="synthesis-stats-missing" class="alert alert-error" style="display: none;">
                  No synthesis statistics found!
              </div>

              <div id="synthesis-stats-panel" class="stats-panel" style="display: none;">

                <form class="form-inline pull-left" style="display: inline-block; margin-bottom: 10px;">
                  <div class="control-group">
                      <label class="control-label" style="position: relative; top: 1px;">Synthesis date</label>
                      &nbsp;
                      <select id="synthesis-profile-date-chooser" style="">
                      </select>
                  </div>
                </form>
                  <div class="pagination pull-left hidden-tablet" style="display: inline-block; margin: 0 0 0 20px;">
                    <ul>
                        <li id="prev-synthesis-profile"><a href="#">Prev</a></li>
                        <li id="next-synthesis-profile"><a href="#">Next</a></li>
                    </ul>
                  </div>

                  <div class="pull-left" style="clear: left; position: relative; top: -8px;">
                      <a href="#TODO" onclick="alert('TODO: Show release page for this date+time'); return false;">More information about this synthesis</a>
                  </div>
                  <table class="table table-condensed table-hover" style="clear: left;"></table>
              </div>

              <h3>Statistics for studies in phylesystem</h3>

              <div id="phylesystem-stats-missing" class="alert alert-error" style="display: none;">
                  No study statistics found!
              </div>

              <div id="phylesystem-stats-panel" class="stats-panel" style="display: none;">
                <form class="form-inline pull-left" style="display: inline-block; margin-bottom: 10px;">
                  <div class="control-group">
                      <label class="control-label" style="position: relative; top: 1px;">Date</label>
                      &nbsp;
                      <select id="phylesystem-profile-date-chooser" style="">
                      </select>
                  </div>
                </form>
                  <div class="pagination pull-left hidden-tablet" style="display: inline-block; margin: 0 0 0 20px;">
                    <ul>
                        <li id="prev-phylesystem-profile"><a href="#">Prev</a></li>
                        <li id="next-phylesystem-profile"><a href="#">Next</a></li>
                    </ul>
                  </div>

                  <table class="table table-condensed table-hover" style="clear: left;"></table>
              </div>

          </div>

      </div>

      <h3 id="comment-header">Comments <i></i></h3>
      {{=plugin_localcomments(filter=('url',),url=request.url)}}

</div><!-- end of .container -->

<script type="text/javascript">
// pass statistics as JSON to client for stepping, plotting, etc.

{{ if synthesis_stats: 
    # NOTE that we use XML() here to decode HTML entities like &quot; }}
var synthesis_stats = {{= XML(synthesis_stats) }};
{{ else: }}
var synthesis_stats = null;
{{ pass }}

{{ if phylesystem_stats: }}
var phylesystem_stats = {{= XML(phylesystem_stats) }};
{{ else: }}
var phylesystem_stats = null;
{{ pass }}

var sortedSynthesisProfileKeys = null;
var currentSynthesisProfileDate = null;

var sortedPhylesystemProfileKeys = null;
var currentPhylesystemProfileDate = null;

$(document).ready(function() {
    // show current profiles, or a notice if no data was found 
    if (synthesis_stats) {
        // load and sort its keys (profile dates) in chronological order
        sortedSynthesisProfileKeys = $.map(
            synthesis_stats, 
            function( ignoreValue, profileDate ) {
                return profileDate; // its JSON property
            }
        ).sort();

        // start with the last (latest) profile
        currentSynthesisProfileDate = sortedSynthesisProfileKeys[ sortedSynthesisProfileKeys.length - 1 ];
        
        showCurrentSynthesisProfile();
        $('#synthesis-stats-panel').show();

        // bind Prev and Next buttons
        $('#prev-synthesis-profile').click(function() {
            var nthProfile = sortedSynthesisProfileKeys.indexOf(currentSynthesisProfileDate);
            // sanity check
            if (nthProfile === 0) return false;
            currentSynthesisProfileDate = sortedSynthesisProfileKeys[nthProfile - 1];
            showCurrentSynthesisProfile();
            return false;
        });
        $('#next-synthesis-profile').click(function() {
            var nthProfile = sortedSynthesisProfileKeys.indexOf(currentSynthesisProfileDate);
            // sanity check
            if (nthProfile === sortedSynthesisProfileKeys.length - 1) return false;
            currentSynthesisProfileDate = sortedSynthesisProfileKeys[nthProfile + 1];
            showCurrentSynthesisProfile();
            return false;
        });

        // build and bind profile-date chooser
        $('#synthesis-profile-date-chooser').empty();
        $.each( sortedSynthesisProfileKeys, function (i, profileDate) {
            var aDate = new moment(profileDate);
            // see http://momentjs.com/docs/#/parsing/string/
            var displayDate = aDate.format('MMMM Do YYYY, hA');
            $('#synthesis-profile-date-chooser').prepend(
                '<option value="'+ profileDate +'">'+ displayDate +'</option>'
            );
        });
        $('#synthesis-profile-date-chooser').change(function() {
            currentSynthesisProfileDate = $(this).val();
            showCurrentSynthesisProfile();
        });

    } else {
        $('#synthesis-stats-missing').show();
    }

    if (phylesystem_stats) {
        // load and sort its keys (profile dates) in chronological order
        sortedPhylesystemProfileKeys = $.map(
            phylesystem_stats, 
            function( ignoreValue, profileDate ) {
                return profileDate; // its JSON property
            }
        ).sort();

        // start with the last (latest) profile
        currentPhylesystemProfileDate = sortedPhylesystemProfileKeys[ sortedPhylesystemProfileKeys.length - 1 ];
        
        showCurrentPhylesystemProfile();
        $('#phylesystem-stats-panel').show();

        // bind Prev and Next buttons
        $('#prev-phylesystem-profile').click(function() {
            var nthProfile = sortedPhylesystemProfileKeys.indexOf(currentPhylesystemProfileDate);
            // sanity check
            if (nthProfile === 0) return false;
            currentPhylesystemProfileDate = sortedPhylesystemProfileKeys[nthProfile - 1];
            showCurrentPhylesystemProfile();
            return false;
        });
        $('#next-phylesystem-profile').click(function() {
            var nthProfile = sortedPhylesystemProfileKeys.indexOf(currentPhylesystemProfileDate);
            // sanity check
            if (nthProfile === sortedPhylesystemProfileKeys.length - 1) return false;
            currentPhylesystemProfileDate = sortedPhylesystemProfileKeys[nthProfile + 1];
            showCurrentPhylesystemProfile();
            return false;
        });

        // build and bind profile-date chooser
        $('#phylesystem-profile-date-chooser').empty();
        $.each( sortedPhylesystemProfileKeys, function (i, profileDate) {
            var aDate = new moment(profileDate);
            // see http://momentjs.com/docs/#/parsing/string/
            var displayDate = aDate.format('MMMM Do YYYY, hA');
            $('#phylesystem-profile-date-chooser').prepend(
                '<option value="'+ profileDate +'">'+ displayDate +'</option>'
            );
        });
        $('#phylesystem-profile-date-chooser').change(function() {
            currentPhylesystemProfileDate = $(this).val();
            showCurrentPhylesystemProfile();
        });
    } else {
        $('#phylesystem-stats-missing').show();
    }
});

function showCurrentSynthesisProfile() {
    var currentSynthesisProfile = synthesis_stats[ currentSynthesisProfileDate ];
    // Our stats JSON has friendly property names. Just format them!
    $('#synthesis-stats-panel table').empty();
    for (var prop in currentSynthesisProfile) {
        if (prop === 'Date') continue;
        var itsValue = currentSynthesisProfile[ prop ];
        $('#synthesis-stats-panel table').append(
            '<tr>'
              + '<th>'+ prop +'</th>'
              + '<td>'+ itsValue +'</td>'
              // for sparkline specs, see http://style.org/chartapi/sparklines/
              + '<td>'
                  + '<img src="http://chart.apis.google.com/chart?'
                    + 'cht=lc'
                    + '&chs=50x20'
                    + '&chd=t:'+ getSynthesisSparklineData(prop, currentSynthesisProfileDate)
                    + '&chco=336699'
                    + '&chls=1,1,0'
                    + '&chm=o,990000,0,20,4'
                    + '&chxt=r,x,y'
                    + '&chxs=0,990000,11,0,_|1,990000,1,0,_|2,990000,1,0,_'
                    + '&chxl=0:||1:||2:||'
                  + '" title="Previous history for this statistic">'
              +'</td>'
          + '</tr>'
        );
    }

    // Update the Next and Prev buttons (disable if no more)
    var nthProfile = sortedSynthesisProfileKeys.indexOf(currentSynthesisProfileDate);
    if (nthProfile === 0) {
        $('#prev-synthesis-profile').addClass('disabled');
    } else {
        $('#prev-synthesis-profile').removeClass('disabled');
    }
    if (nthProfile === (sortedSynthesisProfileKeys.length - 1)) {
        $('#next-synthesis-profile').addClass('disabled');
    } else {
        $('#next-synthesis-profile').removeClass('disabled');
    }

    // Update the date selector
    $('#synthesis-profile-date-chooser').val(currentSynthesisProfileDate);
}

function showCurrentPhylesystemProfile() {
    var currentPhylesystemProfile = phylesystem_stats[ currentPhylesystemProfileDate ];
    // Our stats JSON has friendly property names. Just format them!
    $('#phylesystem-stats-panel table').empty();
    for (var prop in currentPhylesystemProfile) {
        if (prop === 'Date') continue;
        var itsValue = currentPhylesystemProfile[ prop ];
        $('#phylesystem-stats-panel table').append(
            '<tr>'
              + '<th>'+ prop +'</th>'
              + '<td>'+ itsValue +'</td>'
              // for sparkline specs, see http://style.org/chartapi/sparklines/
              + '<td>'
                  + '<img src="http://chart.apis.google.com/chart?'
                    + 'cht=lc'
                    + '&chs=50x20'
                    + '&chd=t:'+ getPhylesystemSparklineData(prop, currentPhylesystemProfileDate)
                    + '&chco=336699'
                    + '&chls=1,1,0'
                    + '&chm=o,990000,0,20,4'
                    + '&chxt=r,x,y'
                    + '&chxs=0,990000,11,0,_|1,990000,1,0,_|2,990000,1,0,_'
                    + '&chxl=0:||1:||2:||'
                  + '" title="Previous history for this statistic">'
              +'</td>'
          + '</tr>'
        );
    }

    // Update the Next and Prev buttons (disable if no more)
    var nthProfile = sortedPhylesystemProfileKeys.indexOf(currentPhylesystemProfileDate);
    if (nthProfile === 0) {
        $('#prev-phylesystem-profile').addClass('disabled');
    } else {
        $('#prev-phylesystem-profile').removeClass('disabled');
    }
    if (nthProfile === (sortedPhylesystemProfileKeys.length - 1)) {
        $('#next-phylesystem-profile').addClass('disabled');
    } else {
        $('#next-phylesystem-profile').removeClass('disabled');
    }

    // Update the date selector
    $('#phylesystem-profile-date-chooser').val(currentPhylesystemProfileDate);
}

function getSynthesisSparklineData(prop, lastProfileDate) {
    // return a comma-delimited data series (string) for plotting
    // NOTE that these should be decimal numbers between 0 and 100, so scale accordingly
    //   EXAMPLE: '5.3,26.5,15.9,31.7,42.3,21.2'
    var series = [];
    $.each(sortedSynthesisProfileKeys, function(i, profileDate) {
        // skip more recent profiles, if we're looking at something older
        if (profileDate <= lastProfileDate) {
             series.push( synthesis_stats[profileDate][prop] );
        }
    });

    // normalize all values in the series to the range 0.0 to 100.0
    var minValue = Math.min.apply(Math, series);
    var maxValue = Math.max.apply(Math, series);
    // move all values above zero
    if (minValue < 0) {
        series = $.map(series, function(d) {
            return d - minValue;
        });
    }
    // scale all values to under 100 (using 90 to avoid cropping)
    var scaleToFit = 90.0 / maxValue;
    series = $.map(series, function(d) {
        return d * scaleToFit;
    });

    return series.join(',');
}

function getPhylesystemSparklineData(prop, lastProfileDate) {
    // return a comma-delimited data series (string) for plotting
    // NOTE that these should be decimal numbers between 0 and 100, so scale accordingly
    //   EXAMPLE: '5.3,26.5,15.9,31.7,42.3,21.2'
    var series = [];
    $.each(sortedPhylesystemProfileKeys, function(i, profileDate) {
        // skip more recent profiles, if we're looking at something older
        if (profileDate <= lastProfileDate) {
             series.push( phylesystem_stats[profileDate][prop] );
        }
    });

    // normalize all values in the series to the range 0.0 to 100.0
    var minValue = Math.min.apply(Math, series);
    var maxValue = Math.max.apply(Math, series);
    // move all values above zero
    if (minValue < 0) {
        series = $.map(series, function(d) {
            return d - minValue;
        });
    }
    // scale all values to under 100 (using 90 to avoid cropping)
    var scaleToFit = 90.0 / maxValue;
    series = $.map(series, function(d) {
        return d * scaleToFit;
    });

    return series.join(',');
}

</script>
