{{extend 'layout.html'}}
{{import urllib}}
{{from pprint import pprint}}
{{### Add support scripts for parsing ISO-8601 dates
  #response.files.append(URL('static','js/moment.min.js'))
}}
<style type="text/css">
<!--
//-->
</style>

<div class="container">
    <h1 id="main-title" style="display: inline-block; padding-bottom: 12px;">Taxonomy release 
    </h1>
                  &nbsp;
                  <select id="taxonomy-date-chooser" style="">
                    <option>{PREVIOUS TAXO-RELEASE}</option>
                    <option>{EXPERIMENTAL TAXO-RELEASE?}</option>
                    <option selected="selected">{CURRENT DATE/VERSION}</option>
                  </select>
                  &nbsp;
                  <div class="pagination hidden-tablet" style="display: inline-block; vertical-align: middle; line-height: 30px;">
                    <ul>
                        <li id="prev-taxonomy"><a href="#">Prev</a></li>
                        <li id="next-taxonomy"><a href="#">Next</a></li>
                    </ul>
                  </div>

      <div class="row">
          <div class="span10 offset1">
              <!-- TODO: Relax the margin-top if we're on a narrow screen (stacked columns), to avoid overlap. -->

              <div style="margin-top: -16px;">
                  <a href="/about/progress?highlight=TODO{{#= release_version }}"><strong>TODO</strong>: Show this release in the history of Open Tree</a>
              </div>

              <h3>Statistics</h3>
              <p style="font-style: italic">
                TODO: Do we have stats to show here?
              </p>
              <h3 style="clear: both;">Downloads</h3>
              <p style="font-style: italic;">
                TODO: Read download files list from static site?
              </p>

              <h3>Notes</h3>
              <p style="font-style: italic;">
                TODO: Render README (markdown =&gt; HTML) from static files?
              </p>
              <p style="font-style: italic;">
                TODO: Explain criteria used and any judgment calls?
              </p>

              <h3>Sources</h3>
              <p style="font-style: italic;">
                TODO: Link to synthesis releases using this taxonomy?</a>
              </p>
              <p style="font-style: italic;">
                TODO: List all source taxonomies in ranked order
              </p>

          </div>

      </div>

      <h3 id="comment-header">Comments <i></i></h3>
      {{=plugin_localcomments(filter=('url',),url=request.url)}}

</div><!-- end of .container -->

<script type="text/javascript">
// TODO: Add statistics for taxonomy?

// TODO: Add release history (just the dates) to enable stepwise navigation?

</script>
