# Sample deployment configuration file.  Modify for your own purposes.

# Create one configuration file per host, and use with the deployment 
# tool, e.g.
#   ./push.sh -c myserver.config
# These parameters can be overridden using arguments to push.sh.
# See also README.md in this directory.

# -----
# OPENTREE_HOST is the host that you're going to initialize or update.
# This is used as a target for ssh during deployment.

OPENTREE_HOST=ec2-12-345-678-901.us-west-2.compute.amazonaws.com

#-----
# OPENTREE_COMPONENTS is a list of components that are to be intalled
# or updated.  It doesn't hurt to install more components than are
# needed; the only cost is in the time needed to install or update
# ones that aren't used.
# Components are:
#    opentree    - the browser and curator web2py web apps
#    api	 - the studies API
#    oti	 - the studies index (indexing is done separately)
#    treemachine - treemachine neo4j instance and plugin (not the db)
#    taxomachine - treemachine neo4j instance and plugin (not the db)
# For the time being, if you include 'api', always include 'opentree'
# before it in the list... this may get fixed some time.
# The default is as below for legacy reasons, but should be set in
# each configuration file.  The API is not in the list, because
# initializing it is particularly time and space consuming.

# OPENTREE_COMPONENTS='opentree oti treemachine taxomachine'

#-----
# OPENTREE_PUBLIC_DOMAIN is the domain name used by site visitors and
# third-party authentication via Janrain, OAuth, etc. This is stored in the
# web2py configuration file (applications/opentree/private/config).
# If not specified, this will be defined as $OPENTREE_HOST.

OPENTREE_PUBLIC_DOMAIN=dev.opentreeoflife.org

# -----
# OPENTREE_IDENTITY is the name of the file containing the ssh private
# key used to log in to OPENTREE_HOST as the admin user (see
# OPENTREE_ADMIN, below).

# OPENTREE_IDENTITY=opentree.pem

# -----
# OPENTREE_GH_IDENTITY is the name of the file containing the ssh private
# key the API uses to log in to github.  Only needed if you're going to
# do API installations.

OPENTREE_GH_IDENTITY=opentreeapi-gh.pem

# -----
# OPENTREE_NEO4J_HOST is the name of the server to contact for neo4j
# (treemachine, taxomachine, oti) requests.  The Javascript code needs
# to know this.  Would typically be the same as OPENTREE_HOST if
# this server is going to have neo4j databases uploaded to it, or
# a different server if not.
# (The deployment script always sets up neo4j locally,
# even if the one that's going to be used lives somewhere else.  This is
# pointless, but uniform, and sometimes useful for debugging.)
#
# TO BE DONE, perhaps: Split this up so that the different services
# can reside on different hosts.

OPENTREE_NEO4J_HOST=ec2-21-345-876-901.us-west-2.compute.amazonaws.com

# -----
# There are several other servers that can be split in various ways. (The
# values shown here are defaults, with all Neo4j services on one server.) 
# NOTE that in each case, these "base URLs" can include path information 
# and an optional port number.

TREEMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/treemachine
TAXOMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/taxomachine
OTI_BASE_URL=http://${OPENTREE_NEO4J_HOST}/oti
OTOL_API_BASE_URL=http://${OPENTREE_PUBLIC_DOMAIN}/api/v1

# -----
# Some variables are used to authenticate the registered curation app on GitHub

GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID_HERE
GITHUB_CLIENT_SECRET=YOUR_GITHUB_CLIENT_SECRET_HERE
GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login

# -----
# OPENTREE_DOCSTORE is the name of the OpenTreeOfLife git repository
# where the study objects can be found.  Defaults to phylesystem.

# OPENTREE_DOCSTORE=phylesystem

# -----
# OPENTREE_ADMIN is the name of the privileged admin user, the one
# that can do 'sudo' commands.  This is not to be confused with the
# unprivileged 'opentree' user.  Should be 'admin' if the installed OS
# is Debian (the default), or 'ubuntu' if the OS is Ubuntu (as was the
# case for the first two EC2 machines we set up).

# OPENTREE_ADMIN=admin

# -----
# The opentree_branch command specifies which branch to use for the
# given repo.  The default is always 'master'.

# opentree_branch opentree master
# opentree_branch api.opentreeoflife.org master
# opentree_branch oti master
# opentree_branch taxomachine master
# opentree_branch treemachine master
