<!-- { {extend 'layout.html'} } -->

{{ # set error message and suggestions based on the response status
   # TODO: Customize messages for other codes? see http://en.wikipedia.org/wiki/List_of_HTTP_status_codes

   msg = "Sorry, something went wrong."
   suggestion = 'Please try the links or search above. If you still can\'t find what you\'re looking for, <a href="/contact">contact us</a> and we\'ll help to sort things out.'

   if response.status == 404:
       msg = "Sorry, we couldn't find this page."
   elif response.status == 500:
       msg = "Sorry, there was a server error."
   elif response.status == 403:
       msg = "Sorry, you're not allowed to see that."
       suggestion = 'Please log into the site and try again. If you still can\'t find what you\'re looking for, <a href="/contact">contact us</a> and we\'ll help to sort things out.'
   pass
 }}

<div class="container">

    <span class="status-code" style="color: #ddd; font-weight: bold; font-size: 160px; line-height: 1em;position: absolute; margin-left: 24px;">{{= response.status }}</span>
    <h1 id="main-title" style="margin-top: 55px; margin-left: 140px; position: relative;">
        {{= msg }}
    </h1>

    <div style="padding: 50px 50px 30px; font-size: 120%;">
        {{= XML(suggestion) }}
    </div>

</div>
