{{extend 'layout.html'}}

<div class="container">
      <h1 id="main-title">Contact Us</h1>

              <p>
			  You can contact us through our two public google groups: <a href="https://groups.google.com/forum/#!forum/opentreeoflife">opentreeoflife</a> and <a href="https://groups.google.com/forum/#!forum/opentreeoflife-software">opentreeoflife-software</a>. All of our software is on <a href="http://github.com/opentreeoflife">GitHub</a>, and you can leave bug reports and feature request as an <a href="https://github.com/OpenTreeOfLife/feedback/issues">issue in our feedback repo</a>. The developer team hangs out at IRC: #opentreeoflife on freenode.
			   </p>

      <h3 id="comment-header">Comments <i></i></h3>
      {{=plugin_localcomments(filter=('url',),url=request.url)}}

</div><!-- end of .container -->

<script type="text/javascript">
    // add any page-specific behavior here
</script>
