{{response.title = "Contact us - Open Tree of Life" }}
{{extend 'layout.html'}}

<div class="container">
    <h1 id="main-title">Contact Us</h1>

    <div class="row">
        <div class="span9 offset1">
            <table style="width: 100%;">
                <tr>
                    <td width="200" align="right">
                        <a href="https://groups.google.com/forum/#!forum/opentreeoflife" target="_blank">
                            <img src="{{= URL('static', 'images/Logo_Google_groups.png') }}" alt="Google Groups logo" />
                        </a>
                    </td>
                    <td width="*" style="padding: 2em;">
                        We have three public google groups: </br>
                        1. <a href="https://groups.google.com/forum/#!forum/opentreeoflife">opentreeoflife</a>: general mailing list </br>
                        2. <a href="https://groups.google.com/forum/#!forum/opentreeoflife-software">opentreeoflife-software</a>: software discussion (largely deprecated in favour of Gitter see below) </br>
                        3. <a href="https://groups.google.com/forum/#!forum/opentreeoflife-announce">opentreeoflife-announce</a>: announcements of new releases and features; only admins can post</br>
                    </td>
                </tr>
                <tr>
                    <td width="200" align="right">
                        <a href="http://github.com/opentreeoflife" target="_blank">
                            <img src="{{= URL('static', 'images/Github.png') }}" alt="GitHub logo" />
                        </a>
                    </td>
                    <td style="padding: 2em;">
                        All of our software is on
                        <a href="http://github.com/opentreeoflife">GitHub</a>,
                        and you can leave bug reports and feature request as an
                        <a href="https://github.com/OpenTreeOfLife/feedback/issues">issue in our feedback repo</a>.
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <a href="https://gitter.im/OpenTreeOfLife/public" target="_blank">
                            <img src="{{= URL('static', 'images/gitter.png') }}" alt="Visit our Gitter room" />
                        </a>
                    </td>
                    <td style="padding: 2em;">
                        Most of our project conversation happens in a public chat room on
                        <a href="https://gitter.im">Gitter</a>. Clicking the logo at left will
                        take you to the room. You can browse without logging in, or use your
                        <a href="http://github.com/opentreeoflife">GitHub</a> account to join the conversation.
                    </td>
                </tr>
            </table>

            <h3 id="comment-header">Comments <i></i></h3>
            {{=plugin_localcomments(filter='url',url=request.url)}}

        </div>
    </div>

</div><!-- end of .container -->

<script type="text/javascript">
    // add any page-specific behavior here
</script>
