# Copy this file to "config" (and replace tokens below) to make it active
#
# DO NOT CHANGE the formatting of assignment lines (removing spaces, etc) in
# this file! The 'config.example' files are used by our deployment scripts to
# build the final config for each web2py app. Changes here might keep it
# from being built properly.

[security]
secure_sessions_with_HTTPS = false

[maintenance]
# During system migration and other scheduled maintenance, we should allow
# viewing of existing studies but block study creation and editing.
# Boolean values here should be 'true' or 'false'. Use indents to define a long (multi-line) notice.
maintenance_in_progress = false
maintenance_notice = Study creation and editing are disabled while we upgrade to
                   the latest code and features. Please pardon the
                   inconvenience. We expect to be back online for editing
                   studies later this evening (Thursday, July 10).
## upcoming_maintenance_scheduled = true
## upcoming_maintenance_notice = Note that we've scheduled an upgrade for Saturday...

[apis]
# These values can be obtained by registering your instance as an
# application with GitHub, at https://github.com/settings/applications/new
github_client_id = YOUR_CLIENT_ID_HERE
github_redirect_uri = YOUR_REDIRECT_URI_HERE
# DON'T INCLUDE 'github_client_secret' value here. For better security, this is
# loaded from a separate file and added to config data on-the-fly.

# List public-facing base URL for supporting data services
# (NOTE that these are used by both server- and client-side code)
[domains]
treemachine = http://dev.opentreeoflife.org/treemachine:7474
taxomachine = http://dev.opentreeoflife.org/taxomachine:7476
oti = http://dev.opentreeoflife.org/oti
opentree_api = http://dev.opentreeoflife.org/phylesystem
conflict_api = http://dev.opentreeoflife.org/conflict
CACHED_treemachine = https://test.opentreeoflife.org/cached
CACHED_taxomachine = https://test.opentreeoflife.org/cached
CACHED_oti = https://devapi.opentreeoflife.org/cached

# Building on the URLs above, complete the public-facing URL for all methods
# (again, these should work from both server- and client-side code)
#
# NOTE: In our example setup, all service methods are proxied through Apache as
# URLs within the main opentree site. So we assume that partial paths '/db/data/'
# are handled in the ProxyPass statement.
[method_urls]
doTNRSForAutocomplete_url = {taxomachine_domain}/v3/tnrs/autocomplete_name
doTNRSForMappingOTUs_url = {taxomachine_domain}/v3/tnrs/match_names
getContextsJSON_url = {CACHED_taxomachine_domain}/v3/tnrs/contexts
getContextForNames_url = {taxomachine_domain}/v3/tnrs/infer_context
getSynthesisSourceList_url = {CACHED_treemachine_domain}/v3/tree_of_life/about
getTaxonomicMRCAForNodes_url = {taxomachine_domain}/v3/taxonomy/mrca
getDraftTreeMRCAForNodes_url = {treemachine_domain}/v3/tree_of_life/mrca
findAllStudies_url = {CACHED_oti_domain}/v3/studies/find_studies
# TODO: Can we use CACHED_oti_domain for this?
singlePropertySearchForStudies_url = {oti_domain}/v3/studies/find_studies
singlePropertySearchForTrees_url = {oti_domain}/v3/studies/find_trees
findAllTreeCollections_url = {opentree_api_domain}/v3/collections/find_collections
treeConflictStatus_url = {conflict_api_domain}/v2/conflict/conflict-status?tree1={TREE1_ID}&tree2={TREE2_ID}&use_cache={USE_CACHE}
# NOTE that some general utility methods are called from original v1 code.
phylesystem_config_url = {opentree_api_domain}/phylesystem/v1/phylesystem_config
render_markdown_url = {opentree_api_domain}/phylesystem/v1/render_markdown
getTreesQueuedForSynthesis_url = {opentree_api_domain}/phylesystem/v1/trees_in_synth

# Open Tree API - RESTful URLs for managing studies in remote storage (note HTTP verbs for each)
#
# NOTE that we shouldn't need '?jsoncallback=?' on URLs for the Open Tree API, since
# it now supports cross-domain requests via CORS

API_create_study_POST_url = {opentree_api_domain}/v3/study
API_load_study_GET_url = {opentree_api_domain}/v3/study/{STUDY_ID}
API_update_study_PUT_url = {opentree_api_domain}/v3/study/{STUDY_ID}
API_remove_study_DELETE_url = {opentree_api_domain}/v3/study/{STUDY_ID}

API_create_file_POST_url = {opentree_api_domain}/v3/study/{STUDY_ID}/file
API_load_file_GET_url = {opentree_api_domain}/v3/study/{STUDY_ID}/file/{FILE_ID}
API_update_file_PUT_url = {opentree_api_domain}/v3/study/{STUDY_ID}/file/{FILE_ID}
API_remove_file_DELETE_url = {opentree_api_domain}/v3/study/{STUDY_ID}/file/{FILE_ID}

API_create_collection_POST_url = {opentree_api_domain}/v3/collection
API_load_collection_GET_url = {opentree_api_domain}/v3/collection/{COLLECTION_ID}
API_update_collection_PUT_url = {opentree_api_domain}/v3/collection/{COLLECTION_ID}
API_remove_collection_DELETE_url = {opentree_api_domain}/v3/collection/{COLLECTION_ID}

API_create_amendment_POST_url = {opentree_api_domain}/v3/amendment
