# Copy this file to "config" (and replace tokens below) to make it active
#
# DO NOT CHANGE the formatting of assignment lines (removing spaces, etc) in
# this file! The 'config.example' files are used by our deployment scripts to
# build the final config for each web2py app. Changes here might keep it
# from being built properly.

[apis]
github_client_id = YOUR_CLIENT_ID_HERE
github_client_secret = YOUR_CLIENT_SECRET_HERE
github_redirect_uri = YOUR_REDIRECT_URI_HERE
# These values can be obtained by registering your instance as an
# application with GitHub, at https://github.com/settings/applications/new


# List public-facing base URL for supporting data services
# (NOTE that these are used by both server- and client-side code)
[domains]
treemachine = http://dev.opentreeoflife.org/treemachine:7474
taxomachine = http://dev.opentreeoflife.org/taxomachine:7476
oti = http://dev.opentreeoflife.org/oti
otol_api = http://dev.opentreeoflife.org/api/v1

# Building on the URLs above, complete the public-facing URL for all methods
# (again, these should work from both server- and client-side code)
#
# NOTE: In our example setup, all service methods are proxied through Apache as
# URLs within the main opentree site. So we assume that partial paths '/db/data/' 
# are handled in the ProxyPass statement.
[method_urls]
getDraftTreeID_url = {treemachine_domain}/ext/GoLS/graphdb/getDraftTreeID
getSyntheticTree_url = {treemachine_domain}/ext/GoLS/graphdb/getSyntheticTree  
getSourceTree_url = {treemachine_domain}/ext/GoLS/graphdb/getSourceTree  
getConflictTaxJsonAltRel_url = {taxomachine_domain}/ext/GetJsons/node/{nodeID}/getConflictTaxJsonAltRel
getDraftTreeForOttolID_url = {treemachine_domain}/ext/GoLS/graphdb/getDraftTreeForOttolID  
getDraftTreeForNodeID_url = {treemachine_domain}/ext/GoLS/graphdb/getDraftTreeForNodeID
doTNRSForNames_url = {taxomachine_domain}/ext/TNRS/graphdb/autocompleteBoxQuery
getContextsJSON_url = {taxomachine_domain}/ext/TNRS/graphdb/getContextsJSON
getNodeIDForOttolID_url = {treemachine_domain}/ext/GoLS/graphdb/getNodeIDForottId
getJSONFromNode_url = {treemachine_domain}/ext/GetJsons/node
findAllStudies_url = {oti_domain}/ext/QueryServices/graphdb/findAllStudies

# OTOL API - RESTful URLs for managing studies in remote storage (note HTTP verbs for each)
#
# NOTE that we shouldn't need '?jsoncallback=?' on URLs for the OTOL API, since
# it now supports cross-domain requests via CORS

API_create_study_POST_url = {otol_api_domain}/study
API_load_study_GET_url = {otol_api_domain}/study/{STUDY_ID}
API_update_study_PUT_url = {otol_api_domain}/study/{STUDY_ID}
API_remove_study_DELETE_url = {otol_api_domain}/study/{STUDY_ID}

API_create_file_POST_url = {otol_api_domain}/study/{STUDY_ID}/file
API_load_file_GET_url = {otol_api_domain}/study/{STUDY_ID}/file/{FILE_ID}
API_update_file_PUT_url = {otol_api_domain}/study/{STUDY_ID}/file/{FILE_ID}
API_remove_file_DELETE_url = {otol_api_domain}/study/{STUDY_ID}/file/{FILE_ID}

