{# Pyramid implementation of web2py local_comments plugin

   A callable Jinja2 macro seems like the closest analogy to web2py's plugins. 
#}

{% macro local_comments(filter, url) -%}

 {# DIAGNOSTIC CHATTER
 #}
  <div style="color: red; font-weight: bold; border: 1px dashed red;">
    <p>LOCAL COMMENTS APPEAR HERE!</p>
    <p> &nbsp; filter = {{filter}}</p>
    <p> &nbsp; url = {{url}}</p>
  </div>

  <div id="{{ 'TODO_c59826038298' }}">
    <div class="plugin_localcomments">
      <div class="reply"><a class="btn btn-small reply" href="#">Add a new topic</a></div>
      <ul>
      </ul>
    </div>
  </div>
{%- endmacro -%}
