{{extend 'layout.html'}}

<div id="argusDBContainer" />

<div class="container">
  <div class="navbar">

	  <div class="header">
	    <div class="headerlogo">
		  {{=A(IMG(_src=URL('static','images/logo.png'), 
				  _alt="Open Tree of Life logo",
				  _width="144", 
				  _height="74",
				  _valign="middle"),
			  _href="http://opentreeoflife.org/")}}
	    </div>
	  </div>

	  <div class="sidebar-search">
        <form style="text-align: center;" autocomplete="off">
            <input type="text" style="width: 150px;" name="taxon-search" placeholder="Search for taxon/node" autocomplete="off"/>
            <input type="submit" style="" name="taxon-search-go" value="Go" onclick="return false;"/>
		</form>
        <div id="search-results">
<!--
            <div class="search-result">
                <strong><a href="#">Eukaryota</a></strong>
                <div>&raquo; <a href="#">cellular organisms</a></div>
                <div>&raquo; <a href="#">life </a></div>
            </div>
  
            <div class="search-result">
                <strong><a href="#">Second search result</a></strong>
                <div>&raquo; <a href="#">parent taxon</a></div>
                <div>&raquo; <a href="#">grandparent taxon</a></div>
            </div>
-->
        </div>
	  </div>

      <br />

      <a href="#TODO-about.html">About the tree</a>
      <br />

      <a href="#TODO-extract.html">Extracting subtrees</a>
      <br />

      <a href="#TODO-download.html">Download</a>
      <br />

      <a href="http://www.reelab.net/phylografter">Source tree manager</a>
      <br />

      <a href="#TODO-credits.html">Credits</a>
      <br />
      <br />
      <hr />
      <i>What's new:</i>
      <p style="margin-left:2em; font-size: 80%;">
        New in version 0.73: Something very cool
      </p>
      <hr />
    {{if auth.user_id:}}
        <a class="login-logout" href="{{=URL(r=request,c='default',f='user',args=['logout'])}}">Logout</a>
    {{pass}}

    </div><!-- END of navbar -->

    <div class="vizcontent">
      <p id="tree-description">Exploring the primary synthetic tree</p>
      <h1 id="main-title">Synthetic tree viewer</h1>
      <div id="links-to-local-comments">
          <a href="#comment-header">Comments on this node</a>
          |
          <a href="#comment-header" onclick="$('.plugin_localcomments #r0 > a.reply, .plugin_localcomments a.login-logout').eq(0).click(); return true;">Add a comment</a>
      </div>

      <a id="provenance-show" href="#">Show properties</a>
      <div id="viewer-collection" class="with-small-provenance">
          <div id="argusCanvasContainer" class="viewer-frame">&nbsp;</div>
          <!-- TODO: Add other viewers here, and code to switch among them -->
          <div id="provenance-panel">
           <div class="panel-content">
            <div class="panel-controls">
                <a id="provenance-hide" href="#" title="Hide properties">X</a>
            </div>
            <div class="provenance-intro">Loading&hellip;</div>
            <div class="provenance-title">&nbsp;</div>
            <dl>
            <!-- TODO: add these?
                OTT id: 
                Neo4J node ID:
                Tree ID:
                Source Tree:
               IF TAXON,
                Jump to NCBI
                Jump to GBIF

            -->
            <!-- add found properties here
                <dt>Original publication</dt>
                <dd><a href="#">Cruikshank, 1992</a></dd>
                <dd><a href="#">doi:10.1016/r.cruikshank.1992.03.013</a></dd>
                <dt>Related publicatons</dt>
                <dd><a href="#">Morrison, 2004</a></dd>
                <dd><a href="#">doi:10.1016/l.morrison.2004.03.013</a></dd>
                <dt style="margin-top: 1em;"><a id="extract-subtree" href="#">Extract subtree</a></dt>
                <dd id="extract-subtree-caveats">...</dd>
            -->
            </dl>
            <div></div>
           </div>
          </div>
      </div>

      {{  # initialize comments with a naive url-based query
          # (this will probably be overwritten by tree-view data)
          url = request.url
      }}
      <h1 id="comment-header">Comments <i></i></h1>
      {{=plugin_localcomments(filter=('url',),url=url)}}
    </div><!-- end of .vizcontent -->
  </div><!-- end of .container -->

  <script type="text/javascript">
    var syntheticTreeID = 'otol.draft.22';
    var syntheticTreeDefaultStartingNodeID = '2';
        // TODO: Allow other choices via URL?

    // if inbound URL points to a particular location+view, record it here
    var urlState = {
     {{ if forcedByURL: }}
      {{ if viewer: }} viewer: '{{=viewer}}', {{ pass}}
      {{ if domSource: }} domSource: '{{=domSource}}', {{ pass}}
      {{ if nodeID: }} nodeID: '{{=nodeID}}', {{ pass}}
      {{ if nodeName: }} nodeName: '{{=nodeName}}', {{ pass}}
        forcedByURL: true
     {{ pass }}
    };
    // treeview.js will examine this to determine our starting view
  </script>
  <script type="text/javascript" src="/opentree/static/js/treeview.js"></script>
</script>
