{{# Pivot (in some places) based on whether the user is a logged-in user or
  # a visitor browsing tree collections.
isLoggedIn = (auth.user) and True or False
}}

{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{response.title = "Study Curator"}}
{{response.subtitle = "Tree collections"}}

{{### Add support scripts for single-page editor 

# JSON support for older browsers (esp. IE7) 
response.files.append(URL('static','js/json2.js'))

# Knockout.js for binding JSON model to editing UI 
response.files.append(URL('static','js/knockout-2.3.0.js'))

# KO plugin for paginated lists
response.files.append(URL('static','js/knockout-paged-e4a5770702.js'))

# Knockout bindings for Twitter Bootstrap components
response.files.append(URL('static','js/knockout-bootstrap.min.js'))

}}

{{extend 'layout.html'}}

<script src="{{=URL('static','js/curation-helpers.js')}}"></script>
<script type='text/javascript'>
    var isLoggedIn = {{= isLoggedIn and 'true' or 'false' }};
    {{ # TODO: Define needed URLs for collections API, others }}
    var findAllTreeCollections_url = "{{=findAllTreeCollections_url}}"; 

    {{ # TODO: Handle stateful URLs and History here? }}
    // If inbound URL specifies tab, tree, or filter settings, record them here
    var initialState = {{= XML( dict(request.vars) ) }};
    // set any required defaults (for clean/simple history behavior)
    var listFilterDefaults = {
        // track these defaults so we can reset them in history
        'COLLECTIONS': {
            // TODO: Define these based on UI mockups
            'match': "",
            'workflow': "Any workflow state",
            'order': "Newest publication first"
        }
    };
    var filterDefaults = listFilterDefaults.COLLECTIONS;
    // apply any missing filter defaults
    for (var prop in filterDefaults) {
        if (!(prop in initialState)) {
            initialState[prop] = filterDefaults[prop];
        }
    }
</script>
{{ # Adapt single-page JS from 'js/curation-dashboard.js' }}
<script src="{{=URL('static','js/tree-collection-dashboard.js')}}"></script>

<div class="row">
    <div class="span12">
       {{if 'message' in globals():}}
        <h4>{{=message}}</h4>
       {{pass}}
    </div>
</div><!-- /.row -->

<div class="row"  Xstyle="position: relative; top: -1em;">
<div class="span12"><!-- full width... -->
      <button class="help-toggle" style="display: none;">
          Show help for this page <i class="icon-chevron-down Xicon-white"></i>
      </button>
      <div class="help-box">
        <button class="help-toggle">
            Hide <i class="icon-chevron-up Xicon-white"></i>
        </button>
        <p><!-- TODO: Import help/explanation of collections from elsewhere -->
        This tool allows you to contribute studies and trees to our database for
        synthesis. Once your data is submitted, you can return and make improvements,
        share your data more widely, and watch for changes in your area of interest.
        </p>
        <p>
        All data is stored as documents in <a href="https://github.com/" target="_blank">GitHub</a>, 
        a collaborative coding website. This curation tool makes it easy to edit and
        contribute data, but you'll need a (free) GitHub account to participate.
        </p>
        <p>
        Once you've created an account on GitHub, just <a href="/curator/user/login?_next=/curator">login</a> using the link above. Once
        you've agreed to give access to the OpenTree tool, you can start adding data
        immediately.
        </p>
      </div>

      <!-- TODO: Adapt the existing New Collection button from tree popup -->
      <a name="new-collection-submit" class="btn btn-info" style="margin-bottom: 1em;" href="/curator/collection/create"
{{ if maintenance_info.get('maintenance_in_progress', False): }}
         onclick="showMaintenancePopup(); return false;"
{{ pass }}
      >Add new tree collection 
          <i class="icon-circle-arrow-up Xicon-plusXicon-upload icon-white"></i></a>

      <div class="navbar" style="clear: both;">
       <div class="navbar-inner">
        <form class="navbar-search pull-left">
            <input type="text" id="study-list-filter" class="search-query" style="width: 290px;"
                   placeholder="Filter by reference text, DOI, tag, curator&hellip;"
                   data-bind="value: viewModel.listFilters.COLLECTIONS.match, valueUpdate: ['afterkeydown', 'input']">
        </form>
        <ul class="nav" style="padding-left: 1em;">
            <!--
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span data-bind="text: viewModel.listFilters.COLLECTIONS.workflow">WORKFLOW</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" data-bind="foreach: ['Any workflow state', 'Draft study', 'Submitted for synthesis', 'Under revision', 'Included in synthetic tree']">
                    <li data-bind="css: {'disabled': viewModel.listFilters.COLLECTIONS.workflow() == $data }">
                        <a href="#" data-bind="text: $data, click: function () { viewModel.listFilters.COLLECTIONS.workflow($data); }">WORKFLOW</a>
                    </li>
                </ul>
            </li>
            -->
            <!--<li class="divider-vertical"></li>-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span data-bind="text: viewModel.listFilters.COLLECTIONS.order">SORT</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" data-bind="foreach: ['Newest publication first', 'Oldest publication first'] "><!-- , 'Workflow state', 'Completeness'] -->
                    <li data-bind="css: {'disabled': viewModel.listFilters.COLLECTIONS.order() == $data }">
                        <a href="#" data-bind="text: $data, click: function () { viewModel.listFilters.COLLECTIONS.order($data); }">SORT</a>
                    </li>
                </ul>
            </li>
        </ul>
       </div>
      </div>

        <table class="table table-condensed">
          <thead>
            <tr>
              {{ if isLoggedIn: }}
                <th>Reference (click to edit study)</th>
              {{ else: }}
                <th>Reference (click to view study)</th>
              {{ pass }}
                <th>Focal clade</th>
                <th>Curator</th>
                <!--
                <th style="text-align: right;">Publication</th>
                <th>Completeness</th>
                <th>Year</th>
                <th>Journal</th>
                <th>Actions</th>
                -->
            </tr>
          </thead>
          <tbody data-bind="foreach: { data: viewModel.filteredStudies().pagedItems(), as: 'study' }">
            <tr>
                <td data-bind="html: getViewOrEditLinks(study)">&nbsp;</td>
                <td data-bind="html: getFocalCladeLink(study)">&nbsp;</td>
                <td data-bind="html: getCuratorLink(study)">&nbsp;</td>
                <td data-bind="text: study.completeness">&nbsp;</td>
                <!--
                <td data-bind="text: study.is_deprecated">?</td>
                <td data-bind="text: study.pubYear">?</td>
                <td data-bind="html: getJournalLink(study)">?</td>
                <td data-bind="html: getSuggestedActions(study)">?</td>
                -->
            </tr>
            <tr>
                <td colspan="4" style="border-top: none; padding-top: 0px;">
                    <div class="full-study-ref" style="display: none; overflow: visible;">
                        <div Xclass=""
                             data-bind="html: study['ot:studyPublicationReference']">&nbsp;</div>
                        <div style="Xfont-size: 90%; margin-top: 3px;" data-bind="html: getPubLink(study)">&nbsp;</div>

                        <label style="display: inline-block" data-bind="visible: (study['ot:tag'])">Tags&nbsp;</label>
                        <div class="bootstrap-tagsinput" 
                             style="display: inline-block; border: none; margin-bottom: 0; padding: 0 0 4px 0;"
                             data-bind="visible: study['ot:tag'] !== ''">
                        <!-- ko foreach: makeArray(study['ot:tag']) -->
                            <a class="tag label label-info" style="display: none;" 
                               href="#" data-bind="text: $data, visible: true"
                               onclick="filterByTag($(this).text()); return false;">&nbsp;</a>
                        <!-- /ko -->
                            <span style="color: #999; display: none;" data-bind="visible: !(study['ot:tag'])">
                                This study has not been tagged.
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
          </tbody>
        </table>

        <div class="pagination pagination-centered pagination-small" 
             Xdata-bind="if: viewModel.filteredStudies()().length &gt; viewModel.filteredStudies().pagedItems().length">
          <ul>
            <li data-bind="css: { 'disabled': !viewModel.filteredStudies().prev.enabled() }" class="disabled">
                <a href="#" onclick="viewModel.filteredStudies().prev(); return false;">&laquo;</a>
            </li>
           <!-- ko foreach: getPageNumbers( viewModel.filteredStudies() ) -->
            <!-- ko if: isVisiblePage( $data, viewModel.filteredStudies() ) -->
            <li data-bind="css: { 'active': (viewModel.filteredStudies().current() === $data) }" class="active">
                <a href="#" data-bind="text: $data, click: function() { viewModel.filteredStudies().goToPage($data); return false; }">0</a>
            </li>
            <!-- /ko -->
            <!-- ko if: ! isVisiblePage( $data, viewModel.filteredStudies() ) -->
            <li><a class="pagination-spacer" href="#" data-bind="click: function() { viewModel.filteredStudies().goToPage($data); return false; }">&nbsp;</a></li>
            <!-- /ko -->
           <!-- /ko -->
            <li data-bind="css: { 'disabled': !viewModel.filteredStudies().next.enabled() }" class="disabled">
                <a href="#" onclick="viewModel.filteredStudies().next(); return false;">&raquo;</a>
            </li>
          </ul>
        </div>

    </div><!-- /div.spanX -->
</div><!-- /.row -->
