{{# Pivot (in many places) based on whether the user is an editor (curator) or
# someone else looking at the study
viewOrEdit = (auth.user) and 'EDIT' or 'VIEW'

response.subtitle = "Building the tree, one study at a time"
}}

{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{response.title = "Study Curator"}}
{{response.subtitle = ""}}

{{### Add support scripts for single-page editor

# JSON support for older browsers (esp. IE7)
response.files.append(URL('static','js/json2.js'))

# Knockout.js for binding JSON model to editing UI
response.files.append(URL('static','js/knockout-2.3.0.js'))

# KO plugin for paginated lists
response.files.append(URL('static','js/knockout-paged-e4a5770702.js'))

# Knockout bindings for Twitter Bootstrap components
response.files.append(URL('static','js/knockout-bootstrap.min.js'))

}}

{{extend 'layout.html'}}

<script src="{{=URL('static','js/curation-helpers.js')}}"></script>
<script type='text/javascript'>
    var viewOrEdit = '{{= viewOrEdit }}';

    // If inbound URL specifies tab, tree, or filter settings, record them here
    var initialState = {{= XML( dict(request.vars) ) }};
    // set any required defaults (for clean/simple history behavior)
    var listFilterDefaults = {
        // track these defaults so we can reset them in history
        'STUDIES': {
            // TODO: add 'pagesize'?
            'match': "",
            'workflow': "Any workflow state",
            'order': "Newest publication first"
        }
    };
    var filterDefaults = listFilterDefaults.STUDIES;
    // apply any missing filter defaults
    for (var prop in filterDefaults) {
        if (!(prop in initialState)) {
            initialState[prop] = filterDefaults[prop];
        }
    }
</script>
<script src="{{=URL('static','js/curation-dashboard.js')}}"></script>

<div class="row">
    <div class="span12">
       {{if 'message' in globals():}}
        <h4>{{=message}}</h4>
       {{pass}}
    </div>
</div><!-- /.row -->

<div class="row"  Xstyle="position: relative; top: -1em;">
<div id="study-list-container" class="span12"><!-- full width... -->
      <button class="help-toggle" style="display: none;">
          Show help for this page <i class="icon-chevron-down Xicon-white"></i>
      </button>
      <div class="help-box">
        <button class="help-toggle">
            Hide <i class="icon-chevron-up Xicon-white"></i>
        </button>
        <p>
        The Study Curator allows you to add new trees or edit existing trees
        to the Open Tree of Life database. All trees must be associated with
        a published study, and once uploaded are available as public documents in
        <a href="https://github.com/OpenTreeOfLife/phylesystem" target="_blank">GitHub</a>.
        </p>
        <p>
        You need a (free) <a href="https://github.com/join" target="_blank">GitHub account</a>
        to participate. Using GitHub allows us to track the history and changes of all data.
        Once you've created a GitHub account, just <a href="/curator/user/login?_next=/curator">login</a>
        and give access to OpenTree. We also have
        <a href="https://github.com/OpenTreeOfLife/opentree/wiki/Submitting-phylogenies-to-Open-Tree-of-Life" target="_blank">detailed documentation</a>
        on submitting data.
        </p>
      </div>

      <a name="new-study-submit" class="btn btn-info" style="margin-bottom: 1em;" href="/curator/study/create"
{{ if maintenance_info.get('maintenance_in_progress', False): }}
         onclick="showMaintenancePopup(); return false;"
{{ pass }}
      >Add new study
          <i class="icon-circle-arrow-up Xicon-plusXicon-upload icon-white"></i></a>

      <div class="navbar" style="clear: both;">
       <div class="navbar-inner">
        <form class="navbar-search pull-left">
            <input type="text" id="study-list-filter" class="search-query" style="width: 290px;"
                   placeholder="Filter by reference text, DOI, tag, curator&hellip;"
                   data-bind="value: viewModel.listFilters.STUDIES.match, valueUpdate: ['afterkeydown', 'input']">
        </form>
        <ul class="nav" style="padding-left: 1em;">
            <!--
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span data-bind="text: viewModel.listFilters.STUDIES.workflow">WORKFLOW</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" data-bind="foreach: ['Any workflow state', 'Draft study', 'Submitted for synthesis', 'Under revision', 'Included in synthetic tree']">
                    <li data-bind="css: {'disabled': viewModel.listFilters.STUDIES.workflow() == $data }">
                        <a href="#" data-bind="text: $data, click: function () { viewModel.listFilters.STUDIES.workflow($data); }">WORKFLOW</a>
                    </li>
                </ul>
            </li>
            -->
            <!--<li class="divider-vertical"></li>-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span data-bind="text: viewModel.listFilters.STUDIES.order">SORT</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" data-bind="foreach: ['Newest publication first', 'Oldest publication first', 'Sort by primary author', 'Sort by primary author (reversed)'] ">
                    <!-- TODO: restore 'Workflow state', 'Completeness' ? -->
                    <li data-bind="css: {'disabled': viewModel.listFilters.STUDIES.order() == $data }">
                        <a href="#" data-bind="text: $data, click: function () { viewModel.listFilters.STUDIES.order($data); }">SORT</a>
                    </li>
                </ul>
            </li>
        </ul>
       </div>
      </div>

        <table class="table table-condensed">
          <thead>
            <tr>
              {{ if viewOrEdit == 'EDIT': }}
                <th>Reference (click to edit study)</th>
              {{ else: }}
                <th>Reference (click to view study)</th>
              {{ pass }}
                <th>Focal clade</th>
                <th>Curator</th>
                <!--
                <th style="text-align: right;">Publication</th>
                <th>Completeness</th>
                <th>Year</th>
                <th>Journal</th>
                <th>Actions</th>
                -->
            </tr>
          </thead>
          <tbody data-bind="foreach: { data: viewModel.filteredStudies().pagedItems(), as: 'study' }">
            <tr>
                <td data-bind="html: getViewOrEditLinks(study)">&nbsp;</td>
                <td data-bind="html: getFocalCladeLink(study)">&nbsp;</td>
                <td data-bind="html: getCuratorLink(study)">&nbsp;</td>
                <td data-bind="text: study.completeness">&nbsp;</td>
                <!--
                <td data-bind="text: study.is_deprecated">?</td>
                <td data-bind="text: study.pubYear">?</td>
                <td data-bind="html: getJournalLink(study)">?</td>
                <td data-bind="html: getSuggestedActions(study)">?</td>
                -->
            </tr>
            <tr>
                <td colspan="4" style="border-top: none; padding-top: 0px;">
                    <div class="full-study-ref" style="display: none; overflow: visible;">
                        <div Xclass=""
                             data-bind="html: study['ot:studyPublicationReference']">&nbsp;</div>
                        <div style="margin-top: 3px; overflow: hidden;">
                            <span style="color: #999; float: right;">
                                Study ID: <span data-bind="text: study['ot:studyId']">&nbsp;</span>
                            </span>
                            <span style="color: #999; float: left;" data-bind="html: getPubLink(study)"> &nbsp;</span>
                        </div>

                        <label style="display: inline-block" data-bind="visible: (study['ot:tag'])">Tags&nbsp;</label>
                        <div class="bootstrap-tagsinput"
                             style="display: inline-block; border: none; margin-bottom: 0; padding: 0 0 4px 0;"
                             data-bind="visible: study['ot:tag'] !== ''">
                        <!-- ko foreach: makeArray(study['ot:tag']) -->
                            <a class="tag label label-info" style="display: none;"
                               href="#" data-bind="text: $data, visible: true"
                               onclick="filterByTag($(this).text()); return false;">&nbsp;</a>
                        <!-- /ko -->
                            <span style="color: #999; display: none;" data-bind="visible: !(study['ot:tag'])">
                                This study has not been tagged.
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
          </tbody>
        </table>

        <div class="pagination pagination-centered pagination-small"
             Xdata-bind="if: viewModel.filteredStudies()().length &gt; viewModel.filteredStudies().pagedItems().length">
          <ul>
            <li data-bind="css: { 'disabled': !viewModel.filteredStudies().prev.enabled() }" class="disabled">
                <a href="#" onclick="viewModel.filteredStudies().prev(); return false;">&laquo;</a>
            </li>
           <!-- ko foreach: getPageNumbers( viewModel.filteredStudies() ) -->
            <!-- ko if: isVisiblePage( $data, viewModel.filteredStudies() ) -->
            <li data-bind="css: { 'active': (viewModel.filteredStudies().current() === $data) }" class="active">
                <a href="#" data-bind="text: $data, click: function() { viewModel.filteredStudies().goToPage($data); return false; }">0</a>
            </li>
            <!-- /ko -->
            <!-- ko if: ! isVisiblePage( $data, viewModel.filteredStudies() ) -->
            <li><a class="pagination-spacer" href="#" data-bind="click: function() { viewModel.filteredStudies().goToPage($data); return false; }">&nbsp;</a></li>
            <!-- /ko -->
           <!-- /ko -->
            <li data-bind="css: { 'disabled': !viewModel.filteredStudies().next.enabled() }" class="disabled">
                <a href="#" onclick="viewModel.filteredStudies().next(); return false;">&raquo;</a>
            </li>
          </ul>
        </div>

    </div><!-- /div.spanX -->
</div><!-- /.row -->

{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}
<h6>{{=T("Don't know what to do?")}}</h6>
<ul>
  <li>{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
  <li><a href="http://web2py.com">web2py.com</a></li>
  <li><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
</ul>
{{end}}
