{{ response.title = "User Profile"
from pprint import pprint

left_sidebar_enabled,right_sidebar_enabled=False,False

# The incoming view_dict will contain these special properties:
#   userid: from the query-string, or from the logged-in user
#   user_info: JSON response fetched from GitHub User API, or
#   error_msg: INSTEAD of user_info, if unable to fetch it
#   opentree_activity: None, or a dict with one or more of
#       comments: a count, perhaps more information, or None?
#       collections: list or None?
#       studies: a count, roles played, or None?

response.title = "User profile"
if active_user_found:
    response.subtitle = XML(
        '%s <a style="font-weight: normal; font-size: 0.75em;" href="%s" target="_blank" title="Open GitHub profile in a new window">(%s)</a>' % (
            user_info.get('name', user_info.get('login', '???')), 
            user_info.get('html_url'), 
            user_info.get('login'),
        )
    )
else:
    response.subtitle = XML('User not found')
pass
}}
{{extend 'layout.html'}}
<script src="{{=URL('static','js/curation-helpers.js')}}"></script>
<script type='text/javascript'>
    var phylesystem_config_url = '{{=phylesystem_config_url}}';
</script>
<style type="text/css">
.user-profile .form-horizontal .control-group {
    margin-bottom: 0px;
}
.user-profile .form-horizontal .control-group:after {
    clear: none;
}
.activity-stats {
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
}
</style>
{{
if error_msg: 
   if error_msg == 'Not Found': 
       # no such user found on GitHub }}
    <p class="interesting-value">Sorry, we can't find user '{{= userid}}' on GitHub. Please check the URL above and try again.</p>
{{ elif error_msg == 'Not active in OpenTree': 
       # user exists, but isn't active in OpenTree }}
    <p class="interesting-value">
          {{ if user_info.get('type', '') == 'Organization': }}
            An organization with this name was found on GitHub, but is not an OpenTree participant. Please check the URL above and try again.
          {{ else: }}
            A user with this name was found on GitHub, but is not an active OpenTree participant. Please check the URL above and try again.

          {{ pass }}
    </p>
{{ else: 
     # some other error }}
    <h2>{{= error_msg }}</h2>
    <p class="interesting-value">There was a problem retrieving this user's profile. Please try again.</p>
{{ pass  
elif active_user_found: 
   # active user data loaded successfully from GitHub }}
<div class="row">
 <div class="span2">
    <img src="{{= user_info.get('avatar_url', '') }}" 
         alt="{{= user_info.get('name', user_info.get('login', 'User')) }} avatar" 
         style="width: 105px; height: 105px; padding: 0 0 30px 0;">
 </div>
 <div class="span10 wireframe user-profile">
{{# Display selected information for this user
    # login         // github id
    # name          // display name
    # html_url      // GitHub profile page
    # avatar_url    // img URL
    # company
    # blog          // URL to personal site
    # location      // geo, or 'None'
    # email         // OK to show this?
    # type          // User or Organization
    # bio           // UNUSED?
    # gists_url     // need this?
}}

<!-- dump all values from GitHub user API
    {{ for userprop in user_info: }}
    <strong>{{= userprop }}</strong> {{= user_info[ userprop ]}}
    <br/>
    {{ pass }}
-->

<form class="form-horizontal wider-fields">
{{ if active_user_found:
     if user_info.get('company', None): }}
    <div class="control-group">
        <label class="control-label">Affiliation</label>
        <div class="controls">
            <p class="static-form-value">{{= user_info['company'] }}</p>
        </div>
    </div>
  {{ pass }}
  {{ if user_info.get('blog', None):
        # if no scheme is found, prepend 'http://'
        displayed_url = user_info['blog']
        if '//' not in displayed_url:
            displayed_url = "http://%s" % displayed_url
        pass
  }}
    <div class="control-group">
        <label class="control-label">Website</label>
        <div class="controls">
          <p class="static-form-value">
            <a href="{{= displayed_url }}" target="_blank">{{= displayed_url }}</a>
          </p>
        </div>
    </div>
  {{ pass }}
  {{ if user_info.get('email', None): }}
    <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">
          <p class="static-form-value">
            <a href="mailto:{{= user_info['email'] }}">{{= user_info['email'] }}</a>
          </p>
        </div>
    </div>
  {{ pass }}
  {{ if user_info.get('bio', None): }}
    <div class="control-group">
        <label class="control-label">Bio</label>
        <div class="controls">
            <p class="static-form-value">{{= user_info['bio'] }}</p>
        </div>
    </div>
  {{ pass
  pass }}
  {{ if not opentree_activity: 
       # this user (or organization) has no activity to show }}
    <div class="control-group">
        <div class="controls">
            <p class="static-form-value interesting-value" Xstyle="font-weight: bold;">
              {{ if user_info['type'] == 'Organization': }}
                This organization was found on GitHub, but is not an OpenTree participant.
              {{ else: }}
                A user with this name was found on GitHub, but is not an active OpenTree participant.
              {{ pass }}
            </p>
        </div>
    </div>
  {{ pass }}
</form>

{{ if opentree_activity:
       # show this user's activity in the Open Tree sites }}
<form class="form-horizontal wider-fields activity-stats">
    <div class="control-group">
        <label class="control-label">Curator since</label>
        <div class="controls">
            <p class="static-form-value">{{= opentree_activity.get('curator_since', '&ndash;') }}</p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Studies added</label>
        <div class="controls">
            <p class="static-form-value">
                {{= len( opentree_activity.get('added_studies', []) ) }}
                &nbsp;
                &nbsp;
                <span class="interesting-value" style="font-weight: normal;">
                    N.B. Study counts here are dubious, pending  
                    <a href="https://github.com/OpenTreeOfLife/oti/issues/35" target="_blank">
                        needed fixes to oti</a>
                </span>
            </p>

            <!--  TODO: add markers for top 5%, etc. -->
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Studies curated</label>
        <div class="controls">
            <p class="static-form-value">
                {{= len( opentree_activity.get('curated_studies', []) ) }}
                &nbsp;
                &nbsp;
                {{ if len( opentree_activity.get('curated_studies', []) ) > 0: }}
                <a target="_blank" style="font-weight: normal;"
                   href="/curator/?match={{= user_info.get('name', user_info.get('login')) }}">
                   See these studies in the curation dashboard
                </a>
                {{ pass }}
            </p>
            <!--  TODO: add markers for top 5%, etc. -->
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Studies in synthesis</label>
        <div class="controls">
            <p class="static-form-value">
                {{= len( opentree_activity.get('curated_studies_in_synthesis', []) ) }}
            </p>
            <!--  TODO: add markers for top 5%, etc. -->
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Feedback (items)</label>
        <div class="controls">
            <p class="static-form-value">
                {{= len( opentree_activity.get('issues', []) ) }}
                &nbsp;
                &nbsp;
                {{ if len( opentree_activity.get('issues', []) ) > 0: }}
                <a target="_blank" style="font-weight: normal;"
                   href="https://github.com/OpenTreeOfLife/feedback/issues/created_by/{{= user_info.get('login') }}">
                   See these items on GitHub
                </a>
                {{ pass }}
            </p>
            <!--  TODO: add markers for top 5%, etc. -->
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Feedback (comments)</label>
        <div class="controls">
            <p class="static-form-value">{{= len( opentree_activity.get('comments', []) ) }}</p>
            <!--  TODO: add markers for top 5%, etc. -->
        </div>
    </div>
</form>

<h2 id="collections">Tree collections</h2>

<!-- TODO: Add a notice if user has no collections (as owner, collaborator, or follower)
<div class="empty-list-prompt" data-bind="visible: viewModel.filteredTrees().pagedItems().length === 0">
    No matching trees found! Add new trees or clear the
    filter above to see trees in this study.
</div> 
-->
<p>
A collection is a list of trees, chosen for synthesis or any other purpose. Each collection has a nominal owner, but any user can choose to collaborate (add and manage trees) or simply follow its progress. 
<br/>
<span class="interesting-value" style="font-weight: bold;">NOTE that these are inactive placeholders!</span>
</p>

<table class="table table-condensed table-hover"
    data-bind="visible: true"><!-- TODO: hide if no collections found -->
  <thead>
    <tr>
        <th>Collection name (click to view)</th>
        <th>User's role</th>
        <!--
        <td>&nbsp;</td>
        -->
        <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody Xdata-bind="foreach: { data: viewModel.filteredTrees().pagedItems(), as: 'tree' }">
  <!-- TODO
    <tr data-bind="if: true">
        <td>
            <a href="#" data-bind="click: showTreeWithHistory,
                text: tree['@label'],
                css: viewModel.ticklers.TREES">&nbsp;</a>
            <br/>
            <a data-bind="if: unresolvedConflictsFoundInTree( tree ), 
                          css: viewModel.ticklers.TREES,
                          click: showConflictingNodesInTreeViewer,
                          visible: true" 
               class="suggestion-prompt" style="display: none;"
               href="#">
                Show conflicting nodes
            </a> 
            <br/>
            <a data-bind="if: ambiguousLabelsFoundInTree( tree ), 
                          css: viewModel.ticklers.TREES,
                          click: showAmbiguousLabelsInTreeViewer,
                          visible: true" 
               class="suggestion-prompt" style="display: none;"
               href="#">
                Review ambiguous labels
            </a> 
        </td>
        <td data-bind="text: tree['^ot:curatedType'] || 'Unspecified',
                css: viewModel.ticklers.TREES">&nbsp;</td>
        <td data-bind="text: getInGroupCladeDescriptionForTree(tree),
                css: viewModel.ticklers.TREES">&nbsp;</td>
        <td data-bind="html: getRootedDescriptionForTree(tree),
                          click: showArbitraryRootExplanationInTreeViewer,
                          css: viewModel.ticklers.TREES"
               style="cursor: pointer;">&nbsp;</td>
        <td data-bind="html: getMappedTallyForTree(tree),
                css: viewModel.ticklers.TREES">&nbsp;</td>
        <td>   *** TODO: show to owner only! ***
            <button data-bind="click: removeTree,
                               visible: true"
                class="pull-right btn btn-mini btn-danger row-controls-ghosted"
                style="display: none;">
                <i class="icon-remove icon-white"></i>
            </button>
        </td>
    </tr>
    -->
<!-- EXAMPLES of collection entries -->
    <tr>
        <td><a href="#" 
                onclick="showCollectionViewer(); return false;"
            >Clarifying Porifera placement</a></td>
        <td>Owner</td>
        <!--
        <td style="text-align: right;">
            <a href="#">Follow</a>
            |
            <a href="#">Duplicate</a>
            |
            <a href="#">Synthesis report</a>
        </td>
        -->
        <td>
            <!-- action buttons, from right to left -->

            <!-- DELETE button -->
            <button Xdata-bind="click: removeTree,
                               visible: true"
                class="pull-right btn btn-mini btn-danger row-controls-ghosted"
                style="margin-left: 4px;">
                <i class="icon-remove icon-white"></i>
            </button>

            <!-- DUPLICATE button -->
            <button Xdata-bind="click: TODO-follow-this-collection,
                                visible: true"
                title="Copy this collection (you will own the copy)"
                class="pull-right btn btn-mini row-controls-ghosted"
                style="margin-left: 4px;">
                <i class="icon-share"></i>
            </button>

            <!-- EDIT button -->
            <button Xdata-bind="click: TODO-follow-this-collection,
                                visible: true"
                title="Edit this collection (become a collaborator)"
                class="pull-right btn btn-mini row-controls-ghosted"
                style="margin-left: 4px;">
                <i class="icon-edit"></i>
            </button>

            <!-- FOLLOW options -->
            <div class="pull-right btn-group"
                 style="margin-left: 4px;">
                        <button Xdata-bind="click: TODO-remove-this-collection,
                                            visible: true"
                            title="Following this collection (click to change)"
                            class="btn btn-mini row-controls-ghosted dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-star"></i><!-- TODO: icon+title varies based on current following state -->
                            <span class="caret"></span>
                        </button>
                <ul class="dropdown-menu">
                    <li>
                        <a Xdata-bind="click: TODO-ignore-this-collection">
                            <i class="icon-star-empty"></i> Ignore this collection</a>
                    </li>
                    <li>
                        <a Xdata-bind="click: TODO-follow-this-collection">
                            <i class="icon-star"></i> Follow this collection</a>
                    </li>
                    <li>
                        <a Xdata-bind="click: TODO-get-alerts-for-this-collection">
                            <i class="icon-bell"></i> Follow with alerts</a>
                    </li>
                </ul>
            </div>

            <!-- DOWNLOAD button -->
            <button Xdata-bind="click: TODO-follow-this-collection,
                                visible: true"
                title="Download this collection as JSON"
                class="pull-right btn btn-mini row-controls-ghosted"
                style="margin-left: 4px;">
                <i class="icon-download"></i>
            </button>

            <!-- SYNTHESIS REPORT button -->
            <button Xdata-bind="click: TODO-follow-this-collection,
                                visible: true"
                title="View synthesis report for this collection"
                class="pull-right btn btn-mini row-controls-ghosted"
                style="margin-left: 4px;">
                <i class="icon-list-alt"></i>
            </button>
        </td>
    </tr>
    <tr>
        <td><a href="#" 
                onclick="showCollectionViewer(); return false;"
            >Trees about bees</a></td>
        <td>Collaborator</td>
        <!--
        <td style="text-align: right;">
            <a href="#">Follow</a>
            |
            <a href="#">Duplicate</a>
            |
            <a href="#">Synthesis report</a>
        </td>
        -->
        <td>
            <!-- action buttons, from right to left -->

            <!-- DELETE button -->
            <button Xdata-bind="click: removeTree,
                               visible: true"
                class="pull-right btn btn-mini btn-danger row-controls-ghosted"
                style="margin-left: 4px;">
                <i class="icon-remove icon-white"></i>
            </button>

            <!-- DUPLICATE button -->
            <button Xdata-bind="click: TODO-follow-this-collection,
                                visible: true"
                title="Copy this collection (you will own the copy)"
                class="pull-right btn btn-mini row-controls-ghosted"
                style="margin-left: 4px">
                <i class="icon-share"></i>
            </button>

            <!-- EDIT button -->
            <button Xdata-bind="click: TODO-follow-this-collection,
                                visible: true"
                title="Edit this collection (become a collaborator)"
                class="pull-right btn btn-mini row-controls-ghosted"
                style="margin-left: 4px;">
                <i class="icon-edit"></i>
            </button>

            <!-- FOLLOW options -->
            <div class="pull-right btn-group"
                 style="margin-left: 4px;">
                        <button Xdata-bind="click: TODO-remove-this-collection,
                                            visible: true"
                            title="Following with alerts (click to change)"
                            class="btn btn-mini row-controls-ghosted dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-bell"></i><!-- TODO: icon+title varies based on current following state -->
                            <span class="caret"></span>
                        </button>
                <ul class="dropdown-menu">
                    <li>
                        <a Xdata-bind="click: TODO-ignore-this-collection">
                            <i class="icon-star-empty"></i> Ignore this collection</a>
                    </li>
                    <li>
                        <a Xdata-bind="click: TODO-follow-this-collection">
                            <i class="icon-star"></i> Follow this collection</a>
                    </li>
                    <li>
                        <a Xdata-bind="click: TODO-get-alerts-for-this-collection">
                            <i class="icon-bell"></i> Follow with alerts</a>
                    </li>
                </ul>
            </div>

            <!-- DOWNLOAD button -->
            <button Xdata-bind="click: TODO-follow-this-collection,
                                visible: true"
                title="Download this collection as JSON"
                class="pull-right btn btn-mini row-controls-ghosted"
                style="margin-left: 4px;">
                <i class="icon-download"></i>
            </button>
        </td>
    </tr>
    <tr>
        <td><a href="#" 
                onclick="showCollectionViewer(); return false;"
            >OpenTree draft tree synthesis</a></td>
        <td>Follower</td>
        <!--
        <td style="text-align: right;">
            <a href="#">Follow</a>
            |
            <a href="#">Duplicate</a>
            |
            <a href="#">Synthesis report</a>
        </td>
        -->
        <td>
            <!-- action buttons, from right to left -->

            <!-- DELETE button -->
            <button Xdata-bind="click: removeTree,
                               visible: true"
                class="pull-right btn btn-mini btn-danger row-controls-ghosted"
                style="margin-left: 4px; visibility: hidden;">
                <i class="icon-remove icon-white"></i>
            </button>

            <!-- DUPLICATE button -->
            <button Xdata-bind="click: TODO-follow-this-collection,
                                visible: true"
                title="Copy this collection (you will own the copy)"
                class="pull-right btn btn-mini row-controls-ghosted"
                style="margin-left: 4px;">
                <i class="icon-share"></i>
            </button>

            <!-- EDIT button -->
            <button Xdata-bind="click: TODO-follow-this-collection,
                                visible: true"
                title="Edit this collection (become a collaborator)"
                class="pull-right btn btn-mini row-controls-ghosted"
                style="margin-left: 4px;">
                <i class="icon-edit"></i>
            </button>

            <!-- FOLLOW options -->
            <div class="pull-right btn-group"
                 style="margin-left: 4px;">
                        <button Xdata-bind="click: TODO-remove-this-collection,
                                            visible: true"
                            title="Following this collection (click to change)"
                            class="btn btn-mini row-controls-ghosted dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-star"></i><!-- TODO: icon+title varies based on current following state -->
                            <span class="caret"></span>
                        </button>
                <ul class="dropdown-menu">
                    <li>
                        <a Xdata-bind="click: TODO-ignore-this-collection">
                            <i class="icon-star-empty"></i> Ignore this collection</a>
                    </li>
                    <li>
                        <a Xdata-bind="click: TODO-follow-this-collection">
                            <i class="icon-star"></i> Follow this collection</a>
                    </li>
                    <li>
                        <a Xdata-bind="click: TODO-get-alerts-for-this-collection">
                            <i class="icon-bell"></i> Follow with alerts</a>
                    </li>
                </ul>
            </div>

            <!-- DOWNLOAD button -->
            <button Xdata-bind="click: TODO-follow-this-collection,
                                visible: true"
                title="Download this collection as JSON"
                class="pull-right btn btn-mini row-controls-ghosted"
                style="margin-left: 4px;">
                <i class="icon-download"></i>
            </button>

            <!-- SYNTHESIS REPORT button -->
            <button Xdata-bind="click: TODO-follow-this-collection,
                                visible: true"
                title="View synthesis report for this collection"
                class="pull-right btn btn-mini row-controls-ghosted"
                style="margin-left: 4px;">
                <i class="icon-list-alt"></i>
            </button>
        </td>
    </tr>
  </tbody>
</table>

<!-- CREATE NEW button -->
<button Xdata-bind="click: TODO-create-a-new-collection,
                    visible: true"
    class="btn btn-info"
    style="margin-top: -24px;">
    Create new tree collection
    <i class="icon-pencil icon-white"></i> 
</button>

{{ pass }}
    
 </div>
</div>
{{ pass }}
<script language="javascript"><!--
//--></script>
