<!DOCTYPE html>
{{ 
from applications.opentree.modules.opentreewebapputil import get_user_display_name, get_conf
}}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    {{response.files.append(URL('static','css/bootstrap.css'))}}
    <style type="text/css">
        /* TODO: add page-specific styles here */
    </style>
    {{response.files.append(URL('static','css/bootstrap-responsive.css'))}}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      {{response.files.append(URL('static','js/html5shiv.js'))}}
    <![endif]-->

    {{response.files.append(URL('static','plugin_layouts/opentree/default.css'))}}
    {{response.files.append(URL('static','plugin_layouts/superfish.js'))}}
    <!-- css for comments -->
    {{response.files.append(URL('static','plugin_localcomments/css/localcomments.css'))}}
    
    <!-- js dependencies for argus -->
    {{if globals().get('treemachine_domain',False):}}  <!-- TODO: add a proper test here, to omit while in /opentree/appadmin -->
    <script type="text/javascript">
        // make important domains available to client-side code
        var treemachine_domain = "{{=treemachine_domain}}";
        var taxomachine_domain = "{{=taxomachine_domain}}";
        var getDraftTreeID_url = "{{=getDraftTreeID_url}}";
        var getSyntheticTree_url = "{{=getSyntheticTree_url}}";
        var getSourceTree_url = "{{=getSourceTree_url}}";
        var getConflictTaxJsonAltRel_url = "{{=getConflictTaxJsonAltRel_url}}";
        var getDraftTreeForOttolID_url = "{{=getDraftTreeForOttolID_url}}";
        var getDraftTreeForNodeID_url = "{{=getDraftTreeForNodeID_url}}";
        var doTNRSForNames_url = "{{=doTNRSForNames_url}}";
        var getNodeIDForOttolID_url = "{{=getNodeIDForOttolID_url}}";
        var getJSONFromNode_url = "{{=getJSONFromNode_url}}";
    </script>
    {{pass}}
    <script type="text/javascript">
        // some behavior should be on *every* page
        function toggleServerDetailsPopup() {
            var $detailsBox = $('#server-details');
            $detailsBox.toggle();
            if ($detailsBox.is(':visible')) {
                $('body').animate({scrollTop: parseInt($detailsBox.offset().top) });
            }
        }
    </script>
    {{response.files.append(URL('static','js/argus/raphael-min.js'))}}
    {{response.files.append(URL('static','js/argus/drawtree.js'))}}

    <!-- js for history management -->
    {{response.files.append(URL('static','js/jquery.history.js'))}}

    <!-- jquery splitter plugin -->
    {{response.files.append(URL('static','js/jquery.splitter-0.6.js'))}}
    {{response.files.append(URL('static','css/jquery.splitter.css'))}}

    <!-- js for Bootstrap components -->
    {{response.files.append(URL('static','js/bootstrap-transition.js'))}}
    {{response.files.append(URL('static','js/bootstrap-alert.js'))}}
    {{response.files.append(URL('static','js/bootstrap-modal.js'))}}
    {{response.files.append(URL('static','js/bootstrap-dropdown.js'))}}
    {{response.files.append(URL('static','js/bootstrap-scrollspy.js'))}}
    {{response.files.append(URL('static','js/bootstrap-tab.js'))}}
    {{response.files.append(URL('static','js/bootstrap-tooltip.js'))}}
    {{response.files.append(URL('static','js/bootstrap-popover.js'))}}
    {{response.files.append(URL('static','js/bootstrap-button.js'))}}
    {{response.files.append(URL('static','js/bootstrap-collapse.js'))}}
    {{response.files.append(URL('static','js/bootstrap-carousel.js'))}}
    {{response.files.append(URL('static','js/bootstrap-typeahead.js'))}}
    
    <!-- support for web2py AJAX (incl. link to static/js/jquery.js) -->
    {{include 'web2py_ajax.html'}}
    
    {{
    # using sidebars need to know what sidebar you want to use
    left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
    middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}

    <!-- Fav and touch icons (TODO: add these files to site root!)
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
    -->
                                   <link rel="shortcut icon" href="/favicon.ico">
  </head>
  
<body>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <a class="brand" href="/opentree" style="font-weight: 400; color: #bbb; padding-right: 10px;">
            <img style="margin: -12px 4px -8px -2px;" src="/opentree/static/images/mini-opentree-logo.png">
            Open Tree of Life
        </a>

        <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{{= URL('default','index') }}">Home</a></li>
              <li class="dropdown">
                  <a href="{{= URL('about','open-tree-of-life') }}" class="dropdown-toggle" data-toggle="dropdown">
                      About  <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="{{= URL('about','open-tree-of-life') }}">Open Tree of Life</a></li>
                      <!--
                      <li><a href="{{= URL('about','the-synthetic-tree') }}">The synthetic tree</a></li>
                      <li><a href="{{= URL('about','materials-and-methods') }}">Materials and methods</a></li>
                      -->
                      <li><a href="{{= URL('about','references') }}">Bibliographic references</a></li>
                      <!--
                      <li><a href="{{= URL('about','the-source-tree-manager') }}">The source tree manager</a></li>
                      -->
                      <li><a href="https://github.com/OpenTreeOfLife/opentree/wiki/Open-Tree-of-Life-APIs" target="_blank">API documentation</a></li>
                      <li><a href="{{= URL('about','developer-resources') }}">Developer resources</a></li>
                      <li><a href="{{= URL('about','credits') }}">Credits</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a href="http://www.reelab.net/phylografter" class="dropdown-toggle" data-toggle="dropdown">
                      Source trees  <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="/curator">Study Curator</a>
                      <li><a href="http://www.reelab.net/phylografter">Phylografter</a></li>
                  </ul>
              </li>
              <li><a href="{{= URL('contact','index') }}">Contact</a></li>
            </ul>
            <form id="taxon-search-form" class="navbar-search pull-right" autocomplete="off">
                <input type="text" name="taxon-search" class="search-query" placeholder="Search for taxon" autocomplete="off"
                    style="width: 100px;">
                <!-- <input type="submit" style="" name="taxon-search-go" value="Go" onclick="return false;"/> -->
                <!-- then show dropdown when results are ready... -->
                <span style="color: #999; padding: 0 2px; font-size: 14px;">in</span>
                <select style="margin-bottom: 0; width: auto;" name="taxon-search-context">
                    {{ # generate our contextNames list based on newly fetched names
                      try:
                       for context_name in taxonSearchContextNames:
                          if context_name == 'All life': }}
                           <option selected="selected">{{= context_name }}</option>
                       {{ else: }}
                            <option>{{= context_name }}</option>
                       {{ pass }}
                    {{ pass }}
                    {{ except:
                        pass}}
                <!-- 
                NOTE that the displayed OPTION values (confirmed as current via AJAX) are accepted 
                by the server, ie, there's no distinction between visible and occult values.
                -->
                </select>
                <div class="">
                    <ul id="search-results" class="dropdown-menu">
                        ...
                    </ul>
                </div>
            </form>

        </div><!-- /.nav-collapse.collapse -->

      </div>
    </div>
  </div><!-- /.navbar -->

  <div class="container">
    <section id="main" class="main row">
        {{if left_sidebar_enabled:}}
        <div class="span3 left-sidebar">
            <div class="header">
              <div class="headerlogo">
                {{=A(IMG(_src=URL('static','images/logo.png'), 
                        _alt="Open Tree of Life logo",
                        _width="144", 
                        _height="74",
                        _valign="middle"),
                    _href="http://opentreeoflife.org/")}}
              </div>
            </div>
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}

        <div class="{{=middle_columns}}">
            {{block center}}
            {{include}}
            {{end}}
        </div>

        {{if right_sidebar_enabled:}}
        <div class="span3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}
    </section>
    
</div><!-- /.container -->

<!-- Footer ================================================== -->
<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-content">
        {{block footer}} <!-- this is default footer -->
        <div id="fundedBy" class="pull-left">
            {{=T('Open Tree of Life is funded by NSF (AVAToL)')}}
            </div>
        <div id="poweredBy" class="pull-right">
            <a href="#" onclick="toggleServerDetailsPopup(); return false;">Show/hide server details</a>
            &bull;
            {{=T('Powered by')}}
            <a href="http://www.web2py.com/" target="_blank" >web2py</a>
        </div>
        <div id="server-details" style="display: none; clear: both; margin: 4px 0; background-color: #f5f5f5; padding: 6px 8px; border-radius: 8px;">
            Configuration for the <strong>{{= request.application }}</strong> web2py app: 
            <dl>
            {{ # format non-sensitive config data for display
               conf = get_conf(request)
               for sec in conf.sections(): }}
               <dt>{{= sec }}</dt>
                   {{ for itm in conf.items(sec): }}
                   <dd><strong style="color: #888;">{{= itm[0] }}</strong>: {{= itm[1] }}</dd>
                   {{ pass }}
            {{ pass }}
            </dl>
        </div>
        {{end}}
    </div>
  </div>
</footer>

<!-- hidden spinner (move and display as needed), created with http://preloaders.net/en/circular -->
<div id="spinner" style="display: none;">
    <img src="/opentree/static/images/spinner.gif" />
</div>

</body>
</html>
