<html>
  <head>
    <title>{{=response.title or request.application}}</title>
    {{response.files.append(URL('static','plugin_layouts/opentree/default.css'))}}
    {{response.files.append(URL('static','plugin_layouts/superfish.js'))}}
    
    <!-- js dependencies for argus -->
    {{response.files.append(URL('static','js/argus/raphael-min.js'))}}
    {{response.files.append(URL('static','js/argus/drawtree.js'))}}
    
    {{include 'web2py_ajax.html'}}
  </head>
  <body>

<div class="header">
  <div class="headerlogo">
    {{=A(IMG(_src=URL('static','images/logo.png'), 
            _alt="Open Tree of Life logo",
            _width="144", 
            _height="74",
            _valign="middle"),
        _href="http://opentreeoflife.org/")}}
  </div>
  <div class="headersearch">
    <form>Search
      <input type="text" class="headerinputtext"/>
      <input type="submit" value="go" />
    </form>
  </div>
</div>

<div class="container">
  <div class="navbar">

      <br />

      <strong><a href="">Eukaryota</a></strong>
      <br />
      <span style="margin-left:1em; font-size: 80%;">
      &raquo; cellular organisms </span>
      <br />
      <span style="margin-left:1em; font-size: 80%;">
      &raquo; life </span>
      <br />
      <br />

      <strong><a href="">Second search result</a></strong>
      <br />
      <span style="margin-left:1em; font-size: 80%;">
      &raquo; parent taxon </span>
      <br />
      <span style="margin-left:1em; font-size: 80%;">
      &raquo; grandparent taxon </span>
      <br />
      <br />

      <hr />
      <br />

      <a href="extract.html">Extract subtree</a>
      <br />

      <a href="about.html">About the tree</a>
      <br />

      <a href="http://www.reelab.net/phylografter">Source tree manager</a>
      <br />

      <a href="download.html">Download</a>
      <br />

      <a href="credits.html">Credits</a>
      <br />
      <br />
      <hr />
      <i>What's new:</i>
      <p style="margin-left:2em; font-size: 80%;">
        New in version 0.73: Something very cool
      </p>

    </div>
    <div class="vizcontent">
      <div id="argusCanvasContainer">
        
      </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function (){
  var canvasParent = document.getElementById("argusCanvasContainer");
  setupAtNode("805080", "ottol", canvasParent);
});
</script>
</body>
</html>
