<html>
  <head>
    <title>{{=response.title or request.application}}</title>
    {{response.files.append(URL('static','plugin_layouts/opentree/default.css'))}}
    {{response.files.append(URL('static','plugin_layouts/superfish.js'))}}
    <!-- css for comments -->
    {{response.files.append(URL('static','plugin_localcomments/css/localcomments.css'))}}
    
    <!-- js dependencies for argus -->
    {{response.files.append(URL('static','js/argus/raphael-min.js'))}}
    {{response.files.append(URL('static','js/argus/drawtree.js'))}}
    
    {{include 'web2py_ajax.html'}}
    
    {{
    # using sidebars need to know what sidebar you want to use
    left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
    middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
  </head>
  
<body>

	<div class="header">
	  <div class="headerlogo">
		{{=A(IMG(_src=URL('static','images/logo.png'), 
				_alt="Open Tree of Life logo",
				_width="144", 
				_height="74",
				_valign="middle"),
			_href="http://opentreeoflife.org/")}}
	  </div>
	  <div class="headersearch">
		<form>Search
		  <input type="text" class="headerinputtext"/>
		  <input type="submit" value="go" />
		</form>
	  </div>
	</div>

    <section id="main" class="main row">
            {{if left_sidebar_enabled:}}
        <div class="span3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}

        <div class="{{=middle_columns}}">
            {{block center}}
            {{include}}
            {{end}}
        </div>

        {{if right_sidebar_enabled:}}
        <div class="span3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}
    </section>
    
    <!-- Footer ================================================== -->
    <div class="row">
        <footer class="footer span12" id="footer">
            <div class="footer-content">
                {{block footer}} <!-- this is default footer -->
                <div id="fundedBy" class="pull-left">
                	{{=T('Open Tree of Life is funded by NSF AVAToL Award #1208809')}}
                	</div>
                <div id="poweredBy" class="pull-right">
                    {{=T('Powered by')}}
                    <a href="http://www.web2py.com/">web2py</a>
                </div>
                {{end}}
            </div>
        </footer>
    </div>

</body>
</html>
