body {
	background-color: white;
}

/* hard-coding of sizes based on the logo size, and
   the desire to have a nice, big, fat search box.
*/
.header {
	margin: 2px;
	height: 85px;
}
.headerlogo {
	float: left;
}
.sidebar-search {
    background-color: #ffc;
    border: 1px solid #dda;
    border-radius: 4px;
    margin: -3px;
    padding: 8px 4px;
}
.sidebar-search form {
    margin: 0;
}
#search-results i {
    display: block;
    margin: 8px 0 0;
}
.search-result {
    margin: 6px 12px 0px;
}
.search-result strong {
    display: block;
}
.search-result div {
    font-size: 80%;
    padding-left: 12px;
}
.search-result a {
    color: #333;
    text-decoration: none;
}
.search-result strong a {
    color: #000;
}

.vizcontent {
}

#viz-header {
    background-color: #fff;
}

#viewer-collection {
    overflow: hidden;
    border: 1px solid #999;
    border-left: none;
    border-right: none;
    margin: 0px;
    position: fixed;
    left: 0;
    right: 0;
    top: 90px;  /* allow for taller (wrapping) main title? */
    bottom: 0px;  /* WAS 25px for minimal footer */
}
#viewer-collection,
#comments-panel .panel-edges,
#provenance-panel .panel-edges {
    background-color: #eee;
}
.vizcontent div.viewer-frame,
#comments-panel,
#provenance-panel {
    float: left;
    height: 100%;
    /* transition: 0.4s all ease; */
}
.vizcontent div.viewer-frame {
	padding: 0px;
    background-color: #fff;
    overflow: auto;
}

/* set initial widths and margins for the sliding panels */
#comments-panel,
#provenance-panel {
    width: 50%;
    max-width: 480px;
}
#comments-panel {
    margin-left: -50%;
    margin-right: 0;
}
div.viewer-frame {
    width: 100%;  /* TODO: adapt to narrower window!? */
    margin-left: 0;
    margin-right: 0;
}
#provenance-panel {
    /* margin-right: -200%; */
    margin-left: 0;
    margin-right: -50%;
}

/* slide these using marker classes on #viewer-collection */
.active-comments #comments-panel {
    margin-left: -1px;  /* ensures visibility in scaled browser */
    margin-right: 0;
}
.active-comments div.viewer-frame {
    width: 50%;  /* N.B. Javascript will override this */
    margin-left: 0;
    margin-right: 0;
}
.active-comments #provenance-panel {
    margin-left: 0;
    margin-right: -100%;
}

.active-properties #comments-panel {
    margin-left: -50%;
    margin-right: 0;
}
.active-properties div.viewer-frame {
    width: 50%;  /* N.B. Javascript will override this */
    margin-left: 0;
    margin-right: 0;
}
.active-properties #provenance-panel {
    margin-left: 0;
    margin-right: -1px;  /* ensures visibility in scaled browser */
}

/* overrides for tablet-sized displays (matching Bootstrap media queries) */
@media (min-width: 768px) and (max-width: 979px) {
    /* actually, the rules above work well at tablet sizes as well */
}

/* overrides for phone-sized displays (matching Bootstrap media queries) */
@media (max-width: 767px) {
    /* set initial widths and margins for the sliding panels */
    #comments-panel,
    #provenance-panel {
        width: 90%;
    }
    #comments-panel {
        margin-left: -90%;
        margin-right: 0;
    }
    div.viewer-frame {
        width: 100%;
        margin-left: 0%;
        margin-right: 0;
    }
    #provenance-panel {
        margin-left: 0%;
        margin-right: -90%;
    }

    /* slide these using marker classes on #viewer-collection */
    .active-comments #comments-panel {
        margin-left: 0;
        margin-right: 0;
    }
    .active-comments div.viewer-frame {
        width: 100%;
        margin-left: 0;
        margin-right: -90%;
    }
    .active-comments #provenance-panel {
        margin-left: 90%;
        margin-right: -180%;
    }

    .active-properties #comments-panel {
        margin-left: -90%;
        margin-right: 0;
    }
    .active-properties div.viewer-frame {
        width: 100%;
        margin-left: -90%;
        margin-right: 0;
    }
    .active-properties #provenance-panel {
        margin-left: 0;
        margin-right: 0;
    }

    h1#main-title {
        font-size: 24px;
    }
}

#comments-hide,
#provenance-show,
#provenance-hide {
    text-decoration: none !important;
    font-family: Helvetica, Arial, serif;
    font-size: 0.9em;
    line-height: 1.4em;
    color: #555;
}

.legend-widget {
    /* color: blue; */
}
.zoom-widget a:hover {
    text-decoration: none;
}
#argus-controls .comments-indicator,
#argus-controls .properties-indicator {
    width: 25%;
}
#argus-controls .comments-indicator {
    text-align: left;
}
#argus-controls .properties-indicator {
    text-align: right;
}

#argus-controls .widget-prompt {
    color: #fff;
}
#argus-controls span:hover .badge {
    background-color: #333;
}

#provenance-show {
    display: none;
    float: right;
    margin: -24px 22px -10px 0;
    padding: 2px 10px 8px;
    /* color: #555; */
    text-decoration: none;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-radius-bottom: 0;
}

#comments-panel {
    overflow: auto;
}
#comments-panel .panel-content {
    /* isolating any style that might affect widths above */
    padding: 8px 12px;
}

#provenance-panel {
    /*
    overflow: visible;
    */
    overflow: auto;
}
#comments-panel .panel-edges {
    height: 100%;
    border-right: 1px solid #999;
}
#provenance-panel .panel-edges {
    height: 100%;
    border-left: 1px solid #999;
}
#provenance-panel .panel-content {
    /* isolating any style that might affect widths above */
    /* padding: 9px 0 0 12px; */
    padding: 8px 12px;
}
.panel-content {
}
.panel-controls {
    float: right;
    margin: -6px 0px 2px 2px;
    font-size: 20px;
}
.provenance-intro {
    font-size: 110%;
    color: #777;
}
.provenance-title {
    font-family: Helvetica, Arial, serif;
    font-size: 130%;
    color: #000;
}
#provenance-panel .provenance-title {
    margin-right: 65px; /* leave room for an PhyloPic image */
}
#provenance-panel .taxon-image {
    float: right;
    position: relative;
    margin-top: -23px;
    margin-right: 15px;
    width: 32px;
    height: 32px;
    background: url(/opentree/static/images/phylopic-vignette.png) center center no-repeat;
    padding: 2px;
}
#provenance-panel .ordered-sections {
    margin-top: 0.5em;
}
#provenance-panel .properties-section {
    border: 2px solid #bbb;
    border-radius: 5px;
    padding: 8px 6px 2px;
    margin: 1.3em 0;
    position: relative;
}
#provenance-panel .properties-section .section-title {
    font-size: 110%;
    font-weight: bold;
    color: #999;
    position: absolute;
    top: -0.8em;
    background-color: #eee;
    padding: 0 0.25em;
}
#provenance-panel .properties-section ul.external-links {
    margin: 6px 0 12px 8px;
    list-style: none;
}
#provenance-panel .properties-section.selected {
    border: 2px solid #d33;
}
#provenance-panel .properties-section.selected .section-title {
    color: #d33;
}

.panel-content dl {
    margin: 6px 0 12px 8px;
}
.panel-content dl dt {
    color: #777;
}
.panel-content dl dd {
    margin-left: 12px;
    color: #000;
    margin-bottom: 4px;
}
a.full-ref-toggle,
a.related-studies-toggle {
	  font-weight: normal;
    color: #999 !important;
    text-decoration: none;
}
.full-ref {
    background-color: #fff;
    border: 1px solid #eee;
    margin: 0px 12px 0px -6px;
    padding: 4px 6px;
}
.compact-ref {
		background-color: #fff;
		border: 1px solid #eee;
		padding: 4px 6px;
		display: inline-block;
		margin-right: 8px;
}
.full-ref-curator {
    color: #777;
}
.related-study {
	  border-bottom: 1px solid #ddd;
		padding: 6px 0;
}

/* colors borrowed from curation app (CSS in views/study/edit.html) */
.panel-content dl dt.supporting-tree {
	  /*color: #36f;*/
}
.panel-content dl dt.conflicting-tree {
	  /*color: #e80;*/
}

p#tree-description {
    color: #aaa;
    font-size: 135%;
    padding: 0.8em 0 26px 0;
    font-weight: bold;
    margin: 0;
}
h1#main-title {
    margin-bottom: 0;
    padding: 2px 0 26px;
    line-height: 1em;
}
h1#main-title .comments-indicator,
h1#main-title .properties-indicator {
    vertical-align: middle;
}

#comment-header {
    margin: 0;
    padding: 10px 0 0.5em;
}
#comment-header i {
    color: #999;
    padding: 0.75em 0 0.5em;
}
div#links-to-local-comments {
    margin: -6px 0 12px;
}
div#r0 {
    margin: 0 0 12px;
}

#node-provenance-panel {
    margin: 8px 0 0;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 9px 12px;
}
#node-provenance-panel h3 {
    margin: 0 0 0.5em;
}

/* center the big spinner inside the argus viewport */
#argusCanvasContainer #spinner {
    margin: 100px 0 0 200px;
}

#footer {
    font-size: 80%;
    border-top: 1px solid #ccc;
    overflow: hidden;
    padding: 0.5em 0 0.25em;
}
#footer  .pull-left{
    float: left;
}
#footer  .pull-right{
    float: right;
}
#screen-size-indicator {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1px 6px;
    background: red;
    color: white;
}
/* Warning banners appear when using DEVELOPMENT, STAGING servers */
.ribbon-banner {
    display: block;
    position: absolute;
    top: 40px;
    left: -90px;
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    opacity: 0.7;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    transform:         rotate(-45deg);
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    background-color: #c00;
    border: 1px solid white;
    z-index: 500;
    cursor: pointer;
}

/* Adjusting "inverse" colors in header search */
.navbar-inverse .navbar-search .search-query {
    background-color: #ddd;
    color: #000;
}
.navbar-inverse .navbar-search .search-query:-moz-placeholder {color: #555;}
.navbar-inverse .navbar-search .search-query::-moz-placeholder {color: #555;}
.navbar-inverse .navbar-search .search-query:-ms-input-placeholder {color: #555;}
.navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {color: #555;}

/* Optional style when field has focus
.navbar-inverse .navbar-search .search-query:focus,
.navbar-inverse .navbar-search .search-query.focused {
    background-color: black;
    color: orange;
}
*/

/* Prepend search icon in the input field */
.navbar-search .left-inner-addon {
    position: relative;
    display: inline-block;
}
.navbar-search .left-inner-addon .search-query {
    padding-left: 24px;
}
.navbar-search .left-inner-addon .search-query:focus,
.navbar-search .left-inner-addon .search-query.focused {
    padding-left: 25px;
}
.navbar-search .left-inner-addon i {
    position: absolute;
    top: 7px;
    left: 8px;
    pointer-events: none;
}
#tree-view-legend .legend-pane {
    background-color: #f5f5f5;
    border-radius: 6px;
    padding: 8px;
}
#tree-view-legend .legend-pane table {
    width: 100%;
}
#tree-view-legend .legend-pane table td {
    height: 38px;
    padding: 4px;
}
#tree-view-legend .legend-pane img {
    border: 1px solid #fcfcfc;
}
