body {
	background-color: white;
}

/* hard-coding of sizes based on the logo size, and
   the desire to have a nice, big, fat search box.
*/
.header {
	margin: 2px; 
	height: 85px;
}
.headerlogo {
	float: left;
}
.sidebar-search {	
    background-color: #ffc;
    border: 1px solid #dda;
    border-radius: 4px;
    margin: -3px;
    padding: 8px 4px;
}
.sidebar-search form {	
    margin: 0;
}
#search-results {
}
.search-result {
    margin: 8px 0px 8px 6px;
}
.search-result strong {
    display: block;
}
.search-result div {
    font-size: 80%;
    padding-left: 12px;
}
.search-result a {
    color: #333;
    text-decoration: none;
}
.search-result strong a {
    color: #000;
}
.container {
	width:100%;
}

/* the two-column layout for the main content area */
.navbar {
	width: 200px;
	max-width: 200px;
	float: left;
}
.vizcontent {
	padding-left: 212px;
}
.vizcontent div.viewer-frame {
	padding: 0px;
    background-color: #f5f5ec; /* #faf5ee; */
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 60%; /* don't fill to the current viewport */
    overflow: auto;
}
h1#main-title, 
h1#comment-header {
    margin: 0;
    padding: 0.75em 0 0.5em;
}
h1#comment-header i {
    color: #999;
}
div#links-to-local-comments,
div#r0 {
    margin: -12px 0 12px;
}

#node-provenance-panel {
    margin: 8px 0 0;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 9px 12px;
}
#node-provenance-panel h3 {
    margin: 0 0 0.5em;
}
